<img class="logo" src="../../assets/images/finalpirates.png">
<div class="row center-align "  style="color: white ; text-align:center;"  *ngIf="status==='accepted'">
    <mat-card class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card">
        <img mat-card-image src="../../../../assets/images/click.png">
        <h1>Request Accepted</h1></mat-card>
</div>
<div class="row center-align "  style="color: white; text-align:center;"  *ngIf="status==='rejected'">
    <mat-card class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card">
        <img mat-card-image src="../../../../assets/images/click.png">
        <h1>Request Rejected</h1></mat-card>
</div>
