<mat-nav-list class="sidenav-list">
  <div class="side-nav-heading" (click)="close()">
    <img  [src]=simulationlogo routerLink="/main/dashboard/dashboard-admin">
  </div>
  <div [routerLinkActive]="['active-tab']" (click)="close()">
    <a
      [routerLinkActive]="['active-tab']"
      mat-list-item
      routerLink="/main/dashboard-admin"
    >
    <img [src]="dashIcon" width="20px" height="20px"/>
      <span>Dashboard</span>
    </a>
  </div>
  <div [routerLinkActive]="['active-tab']" (click)="close()">
    <a
    routerLink="/main/campaign/templates"campaignlist
      mat-list-item
    >
    <img [src]="this.campIcon" width="20px" height="20px"/>
      <span>Campaign</span>
    </a>
    <div class="display-none">
      <a routerLink="/main/campaign/template-form/1"></a>
      <a routerLink="/main/campaign/template-form/3"></a>
      <a routerLink="/main/campaign/template-form/5"></a>
      <a routerLink="/main/campaign/custom-form"></a>
    </div>
  </div>
  <div [routerLinkActive]="['active-tab']" (click)="close()">
    <a
    routerLink="/main/scheduledCampaigns"
      mat-list-item
    >
    <img [src]="this.scheduleIcon" width="20px" height="20px"/>
      <span>Scheduled</span>
    </a>
  </div>
  <div [routerLinkActive]="['active-tab']" (click)="close()">
    <a
    routerLink="/main/analytics/campaignlist"
      mat-list-item
    >
    <img [src]="this.analyticsIcon" width="20px" height="20px"/>
      <span>Analytics</span>
    </a>
  </div>
  <div [routerLinkActive]="['active-tab']" (click)="close()">
    <a
    routerLink="/main/employee-csv"
      mat-list-item
    >
    <img [src]="this.employeecsvIcon"  width="20px" height="20px"/>
      <span>Employee CSV</span>
    </a>
  </div>
    
  <div [routerLinkActive]="['active-tab']" (click)="close()">
    <a
      mat-list-item
      routerLink="/main/manual"
    >
    <img [src]="this.manualIcon" width="20px" height="20px"/>
      <span>Manual</span>
    </a>
  </div>
  <div [routerLinkActive]="['active-tab']">
    <a
    (click)="Logout()"
      mat-list-item
    >
    <img [src]="this.logoutlogo"  (click)="Logout()" width="20px" height="20px">
      <span>Logout</span>
    </a>
  </div>
</mat-nav-list>




  