.attachment-display{
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
  }
  #attachment_btn {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border: none;
    color: #205072;
  }
  
  .attachment-div {
    display: flex;
    align-items: center;
    height: 30px;
    background-color: rgb(202, 247, 232);
    margin-left: 21px;
    border-radius: 5px;
  }