
<div class="container" style="background-color:white;">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <span aria-hidden="true" (click)="onClose()"><i class="material-icons">close</i></span>
    </div>
    <div class="row d-flex flex-column justify-content-center align-items-center">
        <img src="../../../assets/images/alertImage.svg" class="alert-css">
        <h2 class="text-alert">Alert</h2>
        <div class="w-75">
            {{data.title}}
        </div>
        <div class="row d-flex justify-content-center align-items-center btn-css">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button class="w-100 stroke-css" [mat-dialog-close]="true" mat-stroked-button>Yes</button>
            </div>
    
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button class="w-100 stroke-css" [mat-dialog-close]="false" mat-stroked-button>No</button>
            </div>
        </div>
    </div>
</div>