
.maticons{
    transform: scale(1.3);
    font-size: larger;
    font-weight: 1000;
    color: rgb(193, 53, 53);
}
.confirm{
    background-color:#45198E; 
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 5%;
}
.alert-css {
    width: 130.67px;
}

.text-alert {
    width: 76px;
}

.btn-css {
    margin-top: 20px;
}
.stroke-css
{
    background: #FFFFFF;
    border: 1px solid #38A3A5;
}