<div class="container mt-4">
  <div class="row font-style mb-3">
    <div class="col-xl-2 col-lg-3 align-self-center employee-text mb-2">
      Employees({{employeeCsvTable.length}})
    </div>
    <form (keydown.enter)="$event.preventDefault()" class="col-xl-10 col-lg-9" [formGroup]="searchForm">
      <div class="row">
        <div class="col-lg-6 mb-2">
          <input
            class="input-text w-100 rounded p-3"
            type="text"
            formControlName="searchText"
            maxlength="25"
            placeholder="Search by employee name, emp. id, email id"
          />
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-6 mb-2">
          <select name="languages" id="lang" class="w-100 input-text rounded p-2" formControlName="filterType">
            <option value="" hidden>Filter By</option>
            <option class="p-2" value="empName">Name</option>
            <option class="p-2" value="emailId">Email Id</option>
            <option class="p-2" value="empId">Employee Id</option>
          </select>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-6 d-flex align-items-center mb-2">
          <button (click)="openUploadCsvModal()" class="w-100 text-white border-0 rounded upload-csv-btn">
            Update Emp Excel
          </button>
        </div>
      </div>
    </form>
  </div>
  <app-employee-csv-table (deleteEventEmitter)="deleteEmployee($event)" [tableData]="employeeCsvTable" [searchText]="searchForm.value.searchText" [filterType]="searchForm.value.filterType"></app-employee-csv-table>
</div>
