<div class="container">
  <div class="row mb-3 mt-4">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <button routerLink="/main/dashboard" class="border-rem">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">
      Email Campaign
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 sub-heading">
      Email Subject
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 sub-heading-1">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 sub-heading">
      Description
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 sub-heading-1">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales dolor a
       ipsum eleifend, eget posuere odio tincidunt. Ut fringilla lectus enim, sit amet
        eleifend eros congue ut. Sed consequat turpis in leo tempus porta. Aenean malesuada
        magna et varius tincidunt. Ut laoreet ultrices justo, eu pharetra tellus scelerisque
        sed. Quisque at nunc pellentesque, feugiat purus vel, egestas lacus.

    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 circle-box">
    <div class="row mb-3">
    <canvas baseChart *ngIf="pieChartData"
    [data]="pieChartData"
    [labels]="pieChartLabels"
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
</div>
  </div>
</div>
</div>
