<div class="container">
  <div class="row mb-3 mt-4">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <button routerLink="/main/dashboard" class="border-rem">
      <mat-icon style="display: inline-flex;
      vertical-align: middle; transform: scale(1.5);color: white;">keyboard_arrow_left
      </mat-icon>
<span>{{this.nameCampaign}}</span>
    </button>
  </div>

  
</div>

<div class="container-lg">
 <div class="row">
  <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 circle-box1">
    
    <div class="col-md-12">
    <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 sub-heading mt-2" >
      <strong>Email Subject :</strong> 
      <span id="emailsub" class="col-lg-12 col-md-6 col-sm-12 col-xs-12">{{this.emailSubject}}</span>

    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-3 sub-heading">
      <strong>Description
        </strong>
      
    </div>
    <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 mt-3 sub-heading" style="max-height:150px ; min-height: 150px;" id="desc">
    {{this.desc}}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 left-bottom-center mb-4">
      <button type="submit" mat-raised-button (click)="endcamp(); clickbtn=true;" [disabled]="clickbtn" class="endcamp" [ngStyle]="{'background-color':clickbtn == false ? '#7A2AB4;' : 'grey' }">End Campaign</button>
  </div>
  </div>
</div>
  <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 circle-box">
    <div class="col-md-12 ">
    
    <div class="row mb-3 canva mt-3">
    <canvas baseChart *ngIf="pieChartData" class="chart"
    [data]="pieChartData"
    [labels]="pieChartLabels"
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
</div>
  </div>
  <div class="left-bottom-center mb-4">
    &nbsp;&nbsp;<button mat-raised-button (click)="exporter.exportTable('csv', {fileName:nameCampaign+nowFormatted})" class="export-btn p-2">Download Results</button>
  </div>
</div>
</div>
</div>

<!-- <div class="row mt-3">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
    <button type="submit" mat-raised-button (click)="endcamp(); clickbtn=true;" [disabled]="clickbtn" class="endcamp" [ngStyle]="{'background-color':clickbtn == false ? '#7A2AB4;' : 'grey' }">End Campaign</button>
</div>
</div> -->



  <div class="card mt-5 col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="body" id="tablepart" >
      <div class="materialTableHeader">
        <div class="row" >
          <div class="col-2 center-vert-align">
                <h2 class="activity-type-text mt-4" id="h2-tag">
                  All Entries
                </h2>
          </div>
          <div class="col-4 mt-1">
            <div class="search" id="search-btn"> <i class="fa fa-search"></i> <input  (keyup)="applyFilter($event)" type="text"  class="form-control" placeholder="Search by Name"> </div>
          </div>
        
          <div class="col-4 mt-3" id="filter" >
            <mat-form-field appearance="outline">
              <mat-label id="filtername">Filter</mat-label>
              <mat-select style="background-color: white; padding: 10px; margin: -10px;border-radius: 5px;" (selectionChange)="filterDrop()" [(ngModel)]="this.select_val">
                <mat-option value="">All</mat-option>
                <mat-option value="Clicked">Clicked</mat-option>
                <mat-option value="Delivered" >Delivered</mat-option>
                <mat-option value="Not Delivered">Not Delivered</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
        </div>
      </div>
      <table mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" matSort (matSortChange)="sortData(sort)" mat-table  class="w-100">
        <!-- Event Name Column -->
        <ng-container matColumnDef="sno">
          <th class="head" mat-header-cell *matHeaderCellDef mat-sort-header="sno">S No.</th>
          <td class="myDesc" mat-cell *matCellDef="let element">
            {{element.id}}
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="email">
          <th class="head" mat-header-cell *matHeaderCellDef mat-sort-header="email">Email</th>
          <td class="myDesc" mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <!-- ip address Column -->
        <ng-container matColumnDef="ip">
          <th class="head" mat-header-cell *matHeaderCellDef mat-sort-header="ip">IP Address</th>
          <td mat-cell *matCellDef="let element">{{ element.ipAddress }}</td>
        </ng-container>

         <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th class="head" mat-header-cell *matHeaderCellDef mat-sort-header="status">Status</th>
          <td class="myDesc txt-col" mat-cell *matCellDef="let element" ><a id="status-id">{{element.status}}</a></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <div *ngIf="!dataSource.data.length" class="no_record center-align">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <img src="../../../../assets/images/cross-icon.svg">
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            No records found!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

