.heading{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #9B2F9B;  
  }
  span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
color: #ffffff;
padding-left: 10px;
  }
  .sub-heading-1{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color:  #626262;
  

  }
  
  .sub-heading{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #626262;
    padding-left: 10px ;
  }
  #emailsub{
    margin-right: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #626262;
    text-align: justify;
  }
  #desc{
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    scroll-behavior: auto;
    overflow:hidden;
  }
  .circle-box{
    background: #FFFFFF;
    box-shadow: 3px 3px 10px rgba(32, 80, 114, 0.1);
    border-radius: 5px;
  
  }
  .border-rem{
    border: none;
  background: none;
  }
  #add_btn {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    background: #7A2AB4;;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 7px;
  }
  
  
  .table-head-text{
    float: right;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
  }
  .img_css {
    border: 2px solid #ffffff;
    border-radius: 50%;
    height: 48px;
    width: 48px;
  }
  .mob{
    padding-left: 0;
    margin-right: 10px;
  }
  .center-vert-align{
    display: flex;
    align-items: center;
  }
  .center-align{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .space-right{
    margin-right: 5px;
  }
  .myDesc{
    word-break: break-all;
    text-overflow: ellipsis;
    max-width: 200px;
  }
  .no_record{
    height: 300px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #C4C4C4;
  }
  .options-styling{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  mat-card{
    box-shadow: 0px 4px 12px white;
    border-radius: 20%;
  }
  .back_button{
    border: none;
    background:transparent;
    }
  .btn{
    font-family: Poppins;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.02em;
    background: #7A2AB4;
    border-radius: 6px;
    color: #FFFFFF;
    display: flex;
    float: right;
  }
  .mobile-view-header{
    position: sticky;
    left: 0px;
  }
  .activity-type-text{
    display: inline-flex;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: white;
    margin-left: 30px;
  }
  ::ng-deep #sel .mat-form-field-underline {
    display: none;
  }
  .position-fix{
    position: sticky;
    left: 0;
  }
  .view{
    float: left;
  }
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  h2{
    display: inline-flex;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: white;
  }
  #h2-tag{
    color: #E6F2F8;
    padding-right: 0;
  }
  td{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #205072;
  }
  th{
    
    background:  #E6F2F8;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #205072;
  }
  #status-id{
    color: #38A3A5;
  }
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-bottom-width: 1px;
    padding-left: 4rem!important;
  }
  a:link{
    text-decoration: none;
  }
  .btn{
    font-family: Poppins;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.02em;
    background: #7A2AB4;
    border-radius: 6px;
    color: #FFFFFF;
    display: flex;
    float: right;
  }
  .edit{
    float: left;
  }
  #add_btn_mobile{
    border-radius: 50%;
  }
  .table-responsive{
    overflow-y: hidden;
  }
  .card {
    border-radius: 1.25rem !important;
    height: 500px;
    overflow: auto;
  }
  .truncate{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  }
  .head{
    font-weight: 600;
  }
  table {
    width: 100%;
  }
  ::ng-deep .mat-sort-header-container{
    justify-content: center;
  }
  
  .txt-col{
    color: #9B2F9B;
  }
  .col-size{
    width: 12.5rem!important;
  }
  
  #tablepart{
    background-color: #d6eafa;
    font-family: "Poppins", sans-serif;
    font-weight: 300
  }
  
  .height {
    height: 100vh
  }
  
  .search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    width: 130%;
    margin-top: 7%;
  }
  #filter{
    padding-left: 25%;
  
  }
  
  .search input:focus {
    box-shadow: none;
    border: 2px solid blue
  }
  
  .search .fa-search {
    position: absolute;
    top: 20px;
    width: 200px;
  }
  
  .search button {
    position: absolute;
    top: 5px;
    right: 15px;
    height: 50px;
    background:transparent;
    background-color: #531D89;
  }
.height {
  height: 100vh
}
.export-btn
  {
    position: absolute;
    top: 370px;
    right: 460px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color:  #7A2AB4;
    border: rgba(0, 0, 0, 0.25);
    color:#eee;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    line-height: 150%;
    margin-top: 10px;
  }
  .detail{
  position: absolute;
left: 6.25%;
right: 51.66%;
top: 21.41%;
bottom: 26%;
padding: 5px;
background: #ffffff;
box-shadow: 3px 3px 10px rgba(32, 80, 114, 0.1);
border-radius: 5px;
text-size-adjust: auto;
  }
.materialTableHeader{
  background-color: #531D89;
  color: white;
  margin-bottom: 10px;
}
.form-control{
  width: 100%;
}
#filtername{
  color: white;
  font-size: 18px;
  display: inline-block;
}
.endcamp{
  position:absolute;
  border-radius: 5px;
    background-color:  #7A2AB4;
    border: rgba(0, 0, 0, 0.25);
    color:#eee;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    line-height: 150%;
    height: 30px;
}
