.navbar {
  background: linear-gradient(180deg, #013E3F 0%, #01243C 100%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  top: 0px;
  z-index: 2;
  display:inline-block;
  padding-right: 0;
  height: 100vh;
  position: fixed;
}
.sidebar{
  display: block;
  margin-left: 1vw;
  margin-top: 3vh;
}
@media screen and (max-height: 450px) {
  #navbar { 
 display: none;
  }
 }
.logo{
  margin-left: 8%;
  height: 40px;
  
}
.logout{
  margin-right: 10%;
}
#info{
  border: none;
  background:transparent; 
  padding: 20px;
}