<nav class="navbar">
  <div class="row w-100">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <div class="brand-logo">
        <a class="navbar-brand">
      <img class="logo" src="../../assets/images/pirates of gemini.svg">
      </a>
    </div>
    </div>
    <div  *ngIf="this.getUser()" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 vertical-align">
      <div>
        <a download href="../../../../assets/pdfs/simulation_user_manual.pdf" id="info" (click)="toogletag(content)" title="download manual">
        <a download href="../../../../assets/pdf/simulation_user_manual.pdf" id="info" (click)="toogletag(content)" title="download manual">
         <img src="../../../../assets/images/user2.png">
        </a>
    </div>
        <mat-icon class="logout">
    <a (click)="Logout()" title="Logout">
      <img class="rounded-circle vertical-align" src='../../assets/images/logout.svg'>
    </a>
  </mat-icon>
    </div>
    </div>
</nav>

