.navbar {
  background: linear-gradient(180deg, #013E3F 0%, #01243C 100%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  top: 0px;
  z-index: 2;
  display:block;
  height: 100%;
  padding-right: 0;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar::-webkit-scrollbar-thumb{
  background-color: #013E3F;
  border-radius: 10px;
}
.navbar::-webkit-scrollbar {
  width: 2px;               /* width of the entire scrollbar */
}
.sidebar{
  display: block;
  margin-left: 1vw;
  margin-top: 3vh;
  padding: 2rem;
}
@media screen and (max-height: 500px) {
  .navbar { 
 display: none;
  }
 }
.topbar{
  position: sticky;
}


.texttype{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */
color: #FFFFFF;
mix-blend-mode: normal;
}

.create{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #013E40;
}
@media screen and (min-height: 800px) {
.create { 
 display: none;
  }
 }
.campbtn{
float:right;
margin-top: 20vh;
position: relative;
border-radius: 5%;
}



mat-icon{
 margin-block-end: auto;
}