.main-title{

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 150%;
color: #9B2F9B;
}
.sub-head{
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
color: #9B2F9B;
}
.inline-block {
  display: inline-block;
  margin-right: 20px;
}
#attachment_btn {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border: none;
  /* identical to box height */
  color: #9b2f9b;
}
.form-control{
  display: none;
}
.attachment-div {
  display: flex;
  align-items: center;
  height: 50px;
  background: rgba(155, 47, 155, 0.05);
}
.template-image{
  width: 100%;
}
.attachment-display{
  margin-left: 5px;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* line-height: 21px; */
  color: #000000;
  cursor: pointer;
}
.border-rem{
  border: none;
background: none;
}
#add_btn {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  background: #9b2f9b;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
  margin-bottom: 7px;
}
.form-box{
  border: 1px solid #D37ACB;
border-radius: 5px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #D37ACB!important;

}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #D37ACB!important;
}
.margin-des{
  margin-right: 30px;
}
.margin-l{
  margin-left: 50px;
}
.align-vert{
  display: flex;
  align-items: center;
}
