<div class="margin-l">
  <div class="row mb-3 mt-4">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 align-vert">
    <button routerLink="/main/dashboard" class="border-rem">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 main-title">
    Create Phising Campaign
  </div>
</div>

  <form [formGroup]="phisingForm" >
<div class="row mb-3">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-head mb-3">
   Choose Template
  </div>
  <div class="row">

     <mat-radio-group formControlName="tempate_select" aria-label="Select an option">
    <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> -->
      <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2 inline-block">
    <img class="template-image mb-2" src="../../../../assets/images/template1.png">
    <mat-radio-button
    (click)="getPreFilledData(1)" [value]=1>Option 1</mat-radio-button>
  </div>
  <!-- </div> -->
  <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> -->
    <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2 inline-block">
    <img class="template-image mb-2" src="../../../../assets/images/accounts.png">
    <mat-radio-button (click)="getPreFilledData(3)" [value]=3>Option 2</mat-radio-button>
    </div>
  <!-- </div> -->
  </mat-radio-group>
</div>
</div>
<div class="row" *ngIf="this.phisingForm.value.tempate_select!=0">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-box margin-des">
<div class="row mt-3 " >
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <mat-form-field class="w-100" appearance="outline" [ngClass]="{'hide-class':this.prefilled.heading==null}">
      <mat-label>Name of Campaign</mat-label>
      <input matInput type="text" [value]="this.prefilled.heading" formControlName="name">
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <mat-form-field class="w-100" appearance="outline" [ngClass]="{'hide-class':this.prefilled.subject==null}">
      <mat-label>Email's Subject</mat-label>
      <input matInput type="text" [value]="this.prefilled.subject" formControlName="subject">
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <mat-form-field class="w-100" appearance="outline" [ngClass]="{'hide-class':this.prefilled.rewardType==null}">
      <mat-label>Reward Type</mat-label>
      <input matInput type="text" [value]="this.prefilled.rewardType" formControlName="reward_type">
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <mat-form-field class="w-100" appearance="outline" [ngClass]="{'hide-class':this.prefilled.amount==null}">
      <mat-label>Amount</mat-label>
      <input matInput type="number" [value]="this.prefilled.amount" formControlName="reward_amount">
    </mat-form-field>
  </div>
</div>


  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field class="w-100" appearance="outline" [ngClass]="{'hide-class':this.prefilled.description==null}">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" [value]="this.prefilled.description" formControlName="desc"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="firsting" id="attachment_btn"><img
              src="../../../../assets/images/attachment_purple.svg"> Upload .csv of victims emails.</label>
      <input type="file" accept=".csv" id="firsting" class="form-control" formControlName="attachmentFile"
          (change)="onChange($event)">
  </div>
  </div>
  <div class="row mt-2 " *ngIf="changeTriggered==true && this.file!=null">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 attachment-div">
      <img class="mr-2" src="../../../../assets/images/attachment_black.svg">
        <a class="attachment-display">{{file.name}}</a>

    </div>

  </div>
  <mat-error *ngIf="this.submitted==true && this.file==null">
    Please upload file.
  </mat-error>
  <div class="row mt-3">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button type="submit" mat-raised-button id="add_btn" (click)="submitForm()" >Send Campaign</button>
  </div>
  </div>

</div>
<!-- <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-box">
  <div class="preview" [innerHTML]="testFINAL">

  </div>
</div> -->
</div>
</form>

<div class="row mt-5"></div>
<div class="row mt-3" *ngIf="api_hit==true">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    SUBMITTED SUCCESSFULLY!
    <!-- {{response}} -->
  </div>
</div>
</div>


