<body>
<div *ngIf="this.StoreData==false" class="overlay">
  <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value" diameter="50" *ngIf="this.StoreData==false"></mat-progress-spinner>
</div>

<div class="margin-l">
  <div class="row mb-3 mt-4">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 align-vert">
    <button routerLink="/main/dashboard" class="border-rem">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 main-title">
    Create Phising Campaign
  </div>
</div>

<!--checking whether manager or not-->
  <form [formGroup]="phisingForm">
<div class="row mb-3">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-head mb-3">
   Choose Any One Template
  </div>
  <div class="row temp-pad">

     <mat-radio-group formControlName="tempate_select" aria-label="Select an option">
    <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> -->
      <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2 inline-block">
    <img class="template-image mb-2" src="../../../../assets/images/template1.png">
    <mat-radio-button
    (click)="getPreFilledData(1)" [value]=1>Amazon Template</mat-radio-button>
  </div>
  <!-- </div> -->
  <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> -->
    <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2 inline-block">
    <img class="template-image mb-2" src="../../../../assets/images/accounts.png">
    <mat-radio-button (click)="getPreFilledData(3)" [value]=3>Accounts Template</mat-radio-button>
    </div>
  <!-- </div> -->
  <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2 inline-block">
    <img class="template-image mb-2" src="../../../../assets/images/macbook_template.jpeg">
    <mat-radio-button (click)="getPreFilledData(5)" [value]=5>IT Template</mat-radio-button>
    </div>
  </mat-radio-group>
</div>
</div>
<div *ngIf="manager=='false'">
  <div class="fill-details">Fill in the details</div>
  <div class="row" *ngIf="this.phisingForm.value.tempate_select!=0">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-box margin-des">
  
    <div class="first">
    <div class="name">
      <mat-form-field appearance="outline" style="width:420px !important">
        <mat-label>Name of Campaign</mat-label>
        <input matInput type="text" [value]="this.prefilled.heading"  formControlName="name">
      </mat-form-field>
      </div>
      &nbsp;
      <div class="name">
        <mat-form-field  appearance="outline" style="width:428px !important">
          <mat-label>Email's Subject</mat-label>
          <input matInput type="text" [value]="this.prefilled.subject" id="in" formControlName="subject">
        </mat-form-field>
        &nbsp;
      </div>
      </div>
  
  <div class="row">
    
  </div>
  
  <!--reward type field-->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field appearance="outline" [ngClass]="{'hide-class':this.prefilled.rewardType==null}" style="width:97.35% !important;padding-top: 5px;
      font-size: 16px;  padding-left: 10px;">
        <mat-label>Reward Type</mat-label>
        <input matInput type="text" [value]="this.prefilled.rewardType" formControlName="reward_type">
      </mat-form-field>
    </div>
  </div>
  
  <!--Amount type field-->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field class="w-100" appearance="outline" [ngClass]="{'hide-class':this.prefilled.amount==null}" style="width:97.35% !important;padding-top: 5px;
      font-size: 16px;  padding-left: 10px;">
        <mat-label>Amount</mat-label>
        <input matInput type="number" [value]="this.prefilled.amount" formControlName="reward_amount">
      </mat-form-field>
    </div>
  </div>
  
  <!--description type field-->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <mat-form-field class="w-100" appearance="outline" [ngClass]="{'hide-class':this.prefilled.description==null}" style="width:97.35% !important;padding-top: 5px;
        font-size: 16px; padding-left: 10px;">
          <mat-label>Description</mat-label>
          <textarea matInput type="text" [value]="this.prefilled.description" formControlName="desc"></textarea>
        </mat-form-field>
      </div>
    </div>

    
  <!--Note if needed -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field class="w-100" appearance="outline" [ngClass]="{'hide-class':this.prefilled.addNote==null}" style="width:97.35% !important;padding-top: 5px;
      font-size: 16px; padding-left: 10px;">
      <mat-label>Add Note</mat-label>
      <textarea matInput type="text" [value]="this.prefilled.addNote" formControlName="addnote"></textarea>
      </mat-form-field>
    </div>
  </div>

  <!--email signature at footer-->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field class="w-100" appearance="outline" [ngClass]="{'hide-class':this.prefilled.emailSignature==null}" style="width:97.35% !important;padding-top: 5px;
      font-size: 16px; padding-left: 10px;">
      <mat-label>Email Signature</mat-label>
      <textarea matInput type="text" [value]="this.prefilled.emailSignature" formControlName="footer"></textarea>
      </mat-form-field>
    </div>
  </div>
  
    <!--email and password for simulation-->
  
    <div class="first">
      <div class="name">
        <mat-form-field appearance="outline" style="width:420px !important">
          <mat-label>Email for simulation</mat-label>
          <input matInput type="text" formControlName="email">
        </mat-form-field>
        &nbsp;
      </div>
      <div class="name">
        <mat-form-field appearance="outline" style="width:428px !important">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </div>
      &nbsp;
    </div>
  
  
    <div>
    <div class="row mt-2" >
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5" style="margin-left: 12px;">
        <label for="firsting" id="attachment_btn" style="font-size: 16px;"><img style="width:20px; height: 20px;"
                src="../../../../assets/images/attachment1.png"> Upload .csv of victims emails.</label>
        <input type="file" accept=".csv" id="firsting" class="form-control" formControlName="attachmentFile"
            (change)="onChange($event)">
    </div>
    </div>
  
    <div class="row mt-2 " *ngIf="changeTriggered==true && this.file!=null">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 attachment-div" >
        <img class="mr-2" src="../../../../assets/images/attachment_black.svg">
          <a  style="width:300px !important" class="attachment-display">{{file.name}}</a>
  
      </div>
  
    </div>
    <mat-error *ngIf="this.submitted==true && this.file==null">
      Please upload file.
    </mat-error>
  </div>
  
  


    <div class="row mt-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="submit" mat-raised-button class="add_btn" (click)="submitForm()" >Send Campaign</button>
    </div>
    </div>
  
  </div>
  <!-- <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-box">
    <div class="preview" [innerHTML]="testFINAL">
  
    </div>
  </div> -->
  </div>
  </div>



<!--if manager is true-->

<div *ngIf="manager == 'true'">
<div class="fill-details">Fill in the details</div>
<div class="row" *ngIf="this.phisingForm.value.tempate_select!=0">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-box margin-des">

  <div class="first">
  <div class="name">
    <mat-form-field appearance="outline" style="width:420px !important">
      <mat-label>Name of Campaign</mat-label>
      <input matInput type="text" [value]="this.prefilled.heading"  formControlName="name">
    </mat-form-field>
    </div>
    &nbsp;
    <div class="name">
      <mat-form-field  appearance="outline" style="width:428px !important">
        <mat-label>Email's Subject</mat-label>
        <input matInput type="text" [value]="this.prefilled.subject" id="in" formControlName="subject">
      </mat-form-field>
      &nbsp;
    </div>
    </div>

<div class="row">
  
</div>

<!--reward type field-->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <mat-form-field appearance="outline" [ngClass]="{'hide-class':this.prefilled.rewardType==null}" style="width:97.35% !important;padding-top: 5px;
    font-size: 16px;  padding-left: 10px;">
      <mat-label>Reward Type</mat-label>
      <input matInput type="text" [value]="this.prefilled.rewardType" formControlName="reward_type">
    </mat-form-field>
  </div>
</div>

<!--Amount type field-->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <mat-form-field class="w-100" appearance="outline" [ngClass]="{'hide-class':this.prefilled.amount==null}" style="width:97.35% !important;padding-top: 5px;
    font-size: 16px;  padding-left: 10px;">
      <mat-label>Amount</mat-label>
      <input matInput type="number" [value]="this.prefilled.amount" formControlName="reward_amount">
    </mat-form-field>
  </div>
</div>

<!--description type field-->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field class="w-100" appearance="outline" [ngClass]="{'hide-class':this.prefilled.description==null}" style="width:97.35% !important;padding-top: 5px;
      font-size: 16px; padding-left: 10px;">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" [value]="this.prefilled.description" formControlName="desc"></textarea>
      </mat-form-field>
    </div>
  </div>

  <!--Note if needed -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field class="w-100" appearance="outline" [ngClass]="{'hide-class':this.prefilled.addNote==null}" style="width:97.35% !important;padding-top: 5px;
      font-size: 16px; padding-left: 10px;">
      <mat-label>Add Note</mat-label>
      <textarea matInput type="text" [value]="this.prefilled.addNote" formControlName="addnote"></textarea>
      </mat-form-field>
    </div>
  </div>

  <!--email signature at footer-->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field class="w-100" appearance="outline" [ngClass]="{'hide-class':this.prefilled.emailSignature==null}" style="width:97.35% !important;padding-top: 5px;
      font-size: 16px; padding-left: 10px;">
      <mat-label>Email Signature</mat-label>
      <textarea matInput type="text" [value]="this.prefilled.emailSignature" formControlName="footer"></textarea>
      </mat-form-field>
    </div>
  </div>

  <!--email and password for simulation-->

  <div class="first">
    <div class="name">
      <mat-form-field appearance="outline" style="width:420px !important">
        <mat-label>Email for simulation</mat-label>
        <input matInput type="text" formControlName="email">
      </mat-form-field>
      &nbsp;
    </div>
    <div class="name">
      <mat-form-field appearance="outline" style="width:428px !important">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </div>
    &nbsp;
  </div>

<div>
  <input name="radio"  [(ngModel)]="options" type="radio" [value]="true" [checked]="options" style="margin-left:12px;font-size: 14px;" formControlName="radio"  >Send to reportees emails
</div>

<!--if send via csv is selected -->


<div>
  <input name="radio" [(ngModel)]="options" type="radio" [value]="false" [checked]="!options" style="margin-left:12px; margin-top: 15px; font-size: 14px;" formControlName="radio" >Send to custom emails 
</div>
  <div *ngIf="!options">
  <div class="row mt-2" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5" style="margin-left: 12px;">
      <label for="firsting" id="attachment_btn" style="font-size: 16px;"><img style="width:20px; height: 20px;"
              src="../../../../assets/images/attachment1.png"> Upload .csv file with custom emails.</label>
      <input type="file" accept=".csv" id="firsting" class="form-control" formControlName="attachmentFile"
          (change)="onChange($event)">
  </div>
  </div>

  <div class="row mt-2 " *ngIf="changeTriggered==true && this.file!=null">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 attachment-div" >
      <img class="mr-2" src="../../../../assets/images/attachment_black.svg">
        <a class="attachment-display" style="width:300px !important">{{file.name}}</a>

    </div>

  </div>
  <mat-error *ngIf="this.submitted==true && this.file==null">
    Please upload file.
  </mat-error>
</div>

  <div class="row mt-3">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button type="submit" mat-raised-button class="add_btn" (click)="submitForm()" >Send Campaign</button>
  </div>
  </div>

</div>
<!-- <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-box">
  <div class="preview" [innerHTML]="testFINAL">

  </div>
</div> -->
</div>
</div>
</form>

<div class="row mt-5"></div>
<div class="row mt-3" *ngIf="api_hit==true">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    CAMPAIGN SUBMITTED SUCCESSFULLY!
    <!-- {{response}} -->
  </div>
</div>
</div>
</body>

