<body>
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=false">
<div *ngIf="this.StoreData==false" class="overlay">
  <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value" diameter="50" *ngIf="this.StoreData==false"></mat-progress-spinner>
</div>

<div class="margin-l">
  <div class="row mb-3 mt-4">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    <button routerLink="/main/dashboard" class="border-rem">
      <mat-icon style="color: white;">keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 main-title" style="color: white;">
    Create Phishing Campaign
  </div>
</div>

<!--checking whether manager or not-->
  <form [formGroup]="phisingForm">
    <div class="row mb-3">
      <div class="col-lg-9 col-md-6 col-sm-5 col-xs-5 sub-head">
       Choose Template
      </div>
  <div class="row temp-pad mb-4">

     <mat-radio-group formControlName="tempate_select" aria-label="Select an option">
    <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> -->
      <div class=" row col-lg-4 col-md-4 col-sm-2 col-xs-2 inline-block">
    <img class="template-image mb-2" src="../../../../assets/images/template1.png" style="width: 100%;">
    <mat-radio-button
    (click)="getPreFilledData(1)" [value]=1 style="color: white;">Amazon Template</mat-radio-button>
  </div>
  <!-- </div> -->
  <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> -->
    <div class=" row col-lg-4 col-md-2 col-sm-2 col-xs-2 inline-block">
    <img class="template-image mb-2" src="../../../../assets/images/accounts.png" style="width: 100%;">
    <mat-radio-button (click)="getPreFilledData(3)" [value]=3 style="color: white;">Accounts Template</mat-radio-button>
    </div>
  <!-- </div> -->
  <div class=" row col-lg-4 col-md-2 col-sm-2 col-xs-2 inline-block">
    <img class="template-image mb-2" src="../../../../assets/images/macbook_template.jpeg" style="width: 100%;">
    <mat-radio-button (click)="getPreFilledData(5)"  [value]=5 style="color: white;">IT Template</mat-radio-button>
    </div>
  </mat-radio-group>
</div>
</div>
<div *ngIf="manager=='false'" style="margin-bottom: 5%;">
  <div class="sub-head row col-lg-9 col-md-6 col-sm-5 col-xs-5 mb-5" style="padding-left: 1%;">Fill in the details</div>
  <div class="row" *ngIf="this.phisingForm.value.tempate_select!=0">
    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6 form-box">
      <div class="first row col-lg-12 col-md-12 col-sm-12 col-xs-6" style="padding-top: 1%; font-size: medium;color: rgb(169, 23, 23)">
        <Strong>Note:- </Strong>
        Please Edit all the fields to create the campaign 
      </div>
    <div class="first row col-lg-12 col-md-12 col-sm-12 col-xs-6" style="padding-top: 1%;">
    <div class="name row">
      <mat-form-field appearance="outline" class="col col-lg-6 col-md-6 col-sm-12 col-xs-6 ml-0">
        <mat-label>Name of Campaign</mat-label>
        <input matInput type="text"  [value]="this.prefilled.heading"  #input1 formControlName="name" maxlength="25" required>
        <mat-error *ngIf="phisingForm.value.name=='' || phisingForm.value.name==null">Please Edit/Fill Name of Campaign</mat-error>
        <mat-hint align="end" >{{input1.value?.length || 0}}/25</mat-hint>
      </mat-form-field>
    
      
        <mat-form-field  appearance="outline" class="col col-lg-6 col-md-6 col-sm-12 col-xs-6">
          <mat-label>Email's Subject</mat-label>
          <input matInput type="text" [value]="this.prefilled.subject" id="in" #input2 formControlName="subject" maxlength="70"  required>
          <mat-error *ngIf="phisingForm.value.subject=='' || phisingForm.value.subject==null">Please Edit/Fill Email Subject</mat-error>
          <mat-hint align="end" >{{input2.value?.length || 0}}/70</mat-hint>
        </mat-form-field>
      </div>
      </div>
  
  <div class="row">
    
  </div>
  
  <!--reward type field-->
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row first">
      <mat-form-field appearance="outline" class="col col-lg-12 col-md-12 col-sm-12 col-xs-6" [ngClass]="{'hide-class':this.prefilled.rewardType==null}">
        <mat-label>Reward Type</mat-label>
        <input matInput type="text" [value]="this.prefilled.rewardType" #input3 formControlName="reward_type" maxlength="50">
        <mat-error *ngIf="phisingForm.value.reward_type=='' || phisingForm.value.reward_type==null">Please Edit/Fill Reward Type</mat-error>
        <mat-hint align="end" >{{input3.value?.length || 0}}/50</mat-hint>
      </mat-form-field>
    </div>
  </div>
  
  <!--Amount type field-->
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row first">
      <mat-form-field class="w-100" appearance="outline" class="col col-lg-12 col-md-6 col-sm-12 col-xs-6 w-100" [ngClass]="{'hide-class':this.prefilled.amount==null}">
        <mat-label>Amount</mat-label>
        <input matInput type="number" [value]="this.prefilled.amount" #input4 formControlName="reward_amount" maxlength="5">
        <!-- <mat-error *ngIf="phisingForm.value.reward_amount=='' || phisingForm.value.reward_amount==null">Please Edit/Fill this field</mat-error> -->
        <mat-hint align="end" >{{input4.value?.length || 0}}/5</mat-hint>
      </mat-form-field>
    </div>
  </div>
  
  <!--description type field-->
    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <div class="row first">
        <mat-form-field class="w-100" appearance="outline" class="col col-lg-12 col-md-6 col-sm-12 col-xs-6 w-100" [ngClass]="{'hide-class':this.prefilled.description==null}">
          <mat-label>Description</mat-label>
          <textarea matInput type="text" [value]="this.prefilled.description" #input5 formControlName="desc" maxlength="1500"></textarea>
          <mat-error *ngIf="phisingForm.value.desc=='' || phisingForm.value.desc==null">Please Edit/Fill Email Description</mat-error>
        <mat-hint align="end" >{{input5.value?.length || 0}}/1500</mat-hint>
        </mat-form-field>
      </div>
    </div>

    
  <!--Note if needed -->
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row first">
      <mat-form-field class="w-100" appearance="outline" class="col col-lg-12 col-md-6 col-sm-12 col-xs-6 w-100" [ngClass]="{'hide-class':this.prefilled.addNote==null}">
      <mat-label>Add Note</mat-label>
      <textarea matInput type="text" [value]="this.prefilled.addNote" #input6 formControlName="addnote" maxlength="200"></textarea>
      <mat-error *ngIf="phisingForm.value.addnote=='' || phisingForm.value.addnote==null ">Please Edit/Fill this field</mat-error>
      <mat-hint align="end" >{{input6.value?.length || 0}}/200</mat-hint>
    </mat-form-field>
    </div>
  </div>

  <!--email signature at footer-->
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row first">
      <mat-form-field class="w-100" appearance="outline" class="col col-lg-12 col-md-6 col-sm-12 col-xs-6 w-100" [ngClass]="{'hide-class':this.prefilled.emailSignature==null}">
      <mat-label>Email Signature</mat-label>
      <textarea matInput type="text" [value]="this.prefilled.emailSignature" #input7 formControlName="footer"  maxlength="40" required></textarea>
      <mat-error *ngIf="phisingForm.value.footer=='' || phisingForm.value.footer==null ">Please Edit/Fill Email Signature</mat-error>
      <mat-hint align="end" >{{input7.value?.length || 0}}/40</mat-hint>
    </mat-form-field>
    </div>
  </div>

  <!--note section-->
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row first">
      <p><strong><strong>Note  -</strong>    Only 1500 emails can be delieverd via a single sender Email Id. In case of campaign to be submitted is for more than the limit, it is mandatory to provide multiple sender email IDs</strong></p>
    </div>
  </div>

    <div class="first  row col-lg-12 col-md-12 col-sm-12 col-xs-6" *ngFor="let i =index;let questionCtrl of getcontrols();"  formArrayName="allemails" >
     
      <div class="name row" [formGroupName]="i">
        <mat-form-field appearance="outline" class="col col-lg-6 col-md-6col-sm-12 col-xs-6 ml-0">
          <mat-label>Email for simulation</mat-label>
          <input matInput type="text" formControlName="senderEmail" required>
        </mat-form-field>
 
        <mat-form-field appearance="outline" class="col col-lg-5 col-md-7 col-sm-12 col-xs-6 ml-0" >
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="senderPassword" required>
        </mat-form-field>
     
        <button type="button" *ngIf="i==0"  style="background-color:#66209D;" class=" btn col col-lg-1 col-md-12 col-sm-12 col-xs-12" [value]="true" (click)="addAddress()" matTooltip="Add Emails" matTooltipPosition="above"><mat-icon class="icon-display" >add_circle_outline</mat-icon></button>
      
      <button *ngIf="i>0"  style="background-color:#66209D;"   type="button" (click)="onRemoveQuestion(i)" class="btn btn-outline-danger col col-lg-1 col-md-6 col-sm-12 col-xs-6 pr-1"><mat-icon class="col col-md-6 col-sm-12 col-xs-6 icon-display" style="margin-left: 3%;">highlight_off</mat-icon>
       </button>
    </div>

    </div>
    <!--send attachment-->
<!--no attachment part-->
<div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
  <h3 style="margin-left: 15px;margin-bottom: 5px;font-size: 15px;color: #531D89;" class="row col-lg-6 col-md-6 col-sm-6 col-xs-6 ml-0">Send Attachment</h3>

  <input name="radio2"  [(ngModel)]="attachment" type="radio" [value]="false" [checked]="!attachment" style="font-size: 8px;" class="col col-lg-1 col-md-2 col-sm-2 col-xs-2" formControlName="radio2"  >No

<!--no attachment part ended-->

<!--send attachment start-->

  <input name="radio2"  [(ngModel)]="attachment" type="radio" [value]="true" [checked]="attachment" style="margin-left:11px; font-size: 8px; margin-right: 1%;" class="col col-lg-1 col-md-2 col-sm-1 col-xs-1" formControlName="radio2"  >Yes
</div>
<!--provide your custom name-->
<div *ngIf="attachment">
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row first">
      <mat-form-field class="w-100" class="col col-lg-12 col-md-6 col-sm-12 col-xs-6 w-100" appearance="outline" aria-placeholder="attachment.pdf">
      <mat-label>Provide the file name</mat-label>
      <textarea matInput type="text" formControlName="fileattach" #input8 maxlength="50" required></textarea>
      <mat-error *ngIf="phisingForm.value.fileattach=='' || phisingForm.value.fileattach==null ">Please Edit/Fill Attachement Name</mat-error>
      <mat-hint align="end" >{{input8.value?.length || 0}}/50</mat-hint>
      </mat-form-field>
    </div>
  </div>

<!--Code for provide attachment content-->
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row first">
      <mat-form-field class="w-100" class="col col-lg-12 col-md-6 col-sm-12 col-xs-6 w-100" appearance="outline" aria-placeholder="attachment.pdf">
      <mat-label>Provide File content</mat-label>
      <textarea matInput type="text" formControlName="filecontent" #input9 maxlength="2000" required></textarea>
      <mat-error *ngIf="phisingForm.value.filecontent=='' || phisingForm.value.filecontent==null ">Please Edit/Fill Attachement content</mat-error>
      <mat-hint align="end" >{{input9.value?.length || 0}}/2000</mat-hint>
      </mat-form-field>
    </div>
  </div>

</div>


<!--end of file custome name-->
<!--end of attachment part -->



<div>
  <div>
    <button type="submit"  mat-raised-button class=" add_btn" (click)="submit()"   >Send to me</button>

  
    <button type="submit" mat-raised-button class="add_btn" (click)="sendcampaign()" >Send Campaign</button>
   
  
    <button type="submit" mat-raised-button class="add_btn" (click)="schedulelater()" >Schedule Later</button>
  </div>

</div>




  </div>

  </div>
  </div>



<!--if manager is true-->

<div *ngIf="manager == 'true'">
<div class="sub-head row col-lg-9 col-md-6 col-sm-5 col-xs-5" style="padding-left:1% ;">Fill in the details</div>
<div class="row" *ngIf="this.phisingForm.value.tempate_select!=0">
  <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6 form-box">
    <div class="first row col-lg-12 col-md-12 col-sm-12 col-xs-6" style="padding-top: 1%; font-size: medium;color: rgb(169, 23, 23)">
      <Strong>Note:- </Strong>
      Please Edit all the fields to create the campaign 
    </div>
    <div class="first row col-lg-12 col-md-12 col-sm-12 col-xs-6" style="padding-top:2% ;">
      <div class="name row">
        <mat-form-field appearance="outline" class="col col-lg-6 col-md-6 col-sm-12 col-xs-6 ml-0">
          <mat-label>Name of Campaign</mat-label>
          <input matInput type="text" [value]="this.prefilled.heading" #input1 formControlName="name" maxlength="25" required>
          <mat-error *ngIf="phisingForm.value.name=='' || phisingForm.value.name==null">Please Edit/Fill Campaign Name</mat-error>
        <mat-hint align="end" >{{input1.value?.length || 0}}/25</mat-hint>
        </mat-form-field>
      
        
          <mat-form-field  appearance="outline" class="col col-lg-6 col-md-6 col-sm-12 col-xs-6">
            <mat-label>Email's Subject</mat-label>
            <input matInput type="text" [value]="this.prefilled.subject" #input2 id="in" formControlName="subject" maxlength="70" required>
            <mat-error *ngIf="phisingForm.value.subject=='' || phisingForm.value.subject==null">Please Edit/Fill Email Subject</mat-error>
          <mat-hint align="end" >{{input2.value?.length || 0}}/70</mat-hint>
          </mat-form-field>
     
        </div>
        </div>

<div class="row">
  
</div>

<!--reward type field-->
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="row first">
    <mat-form-field appearance="outline" class="col col-lg-12 col-md-12 col-sm-12 col-xs-6" [ngClass]="{'hide-class':this.prefilled.rewardType==null}">
      <mat-label>Reward Type</mat-label>
      <input matInput type="text" [value]="this.prefilled.rewardType" #input3 formControlName="reward_type">
      <mat-error *ngIf="phisingForm.value.reward_type=='' || phisingForm.value.reward_type==null">Please Edit/Fill Reward Type</mat-error>
      <mat-hint align="end" >{{input3.value?.length || 0}}/50</mat-hint> 
    </mat-form-field>
  </div>
</div>

<!--Amount type field-->
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="row first">
    <mat-form-field class="col col-lg-12 col-md-6 col-sm-12 col-xs-6 w-100"   appearance="outline" [ngClass]="{'hide-class':this.prefilled.amount==null}">
      <mat-label>Amount</mat-label>
      <input matInput type="number" [value]="this.prefilled.amount" #input4 formControlName="reward_amount">
      <mat-hint align="end" >{{input4.value?.length || 0}}/5</mat-hint>
    </mat-form-field>
  </div>
</div>

<!--description type field-->
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    <div class="row first">
      <mat-form-field class="col col-lg-12 col-md-6 col-sm-12 col-xs-6 w-100" appearance="outline" [ngClass]="{'hide-class':this.prefilled.description==null}">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" [value]="this.prefilled.description"  #input5 formControlName="desc" maxlength="1500"></textarea>
        <mat-error *ngIf="phisingForm.value.desc=='' || phisingForm.value.desc==null">Please Edit/Fill Email Description</mat-error>
        <mat-hint align="end" >{{input5.value?.length || 0}}/1500</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <!--Note if needed -->
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row first">
      <mat-form-field class="col col-lg-12 col-md-6 col-sm-12 col-xs-6  w-100"  appearance="outline" [ngClass]="{'hide-class':this.prefilled.addNote==null}">
      <mat-label>Add Note</mat-label>
      <textarea matInput type="text" [value]="this.prefilled.addNote"  #input6 formControlName="addnote" maxlength="200"></textarea>
      <mat-error *ngIf="phisingForm.value.addnote=='' || phisingForm.value.addnote==null ">Please Edit/Fill this field</mat-error>
      <mat-hint align="end" >{{input6.value?.length || 0}}/200</mat-hint>  
    </mat-form-field>
    </div>
  </div>

  <!--email signature at footer-->
  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row first">
      <mat-form-field class="col col-lg-12 col-md-6 col-sm-12 col-xs-6  w-100" appearance="outline" [ngClass]="{'hide-class':this.prefilled.emailSignature==null}">
      <mat-label>Email Signature</mat-label>
      <textarea matInput type="text" [value]="this.prefilled.emailSignature" #input7 formControlName="footer" maxlength="50"></textarea>
      <mat-error *ngIf="phisingForm.value.footer=='' || phisingForm.value.footer==null ">Please Edit/Fill Email Signature</mat-error>
      <mat-hint align="end" >{{input7.value?.length || 0}}/40</mat-hint>
    </mat-form-field>
    </div>
  </div>
 <!--note section-->
 <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="row first">
    <p><strong><strong>Note  -</strong>    Only 1500 emails can be delieverd via a single sender Email Id. In case of campaign to be submitted is for more than the limit, it is mandatory to provide multiple sender email IDs</strong></p>
  </div>
</div>
  <!--email and password for simulation-->

  <div class="first  row col-lg-12 col-md-12 col-sm-12 col-xs-6" *ngFor="let i =index;let questionCtrl of getcontrols();"  formArrayName="allemails" >
     
    <div class="name row" [formGroupName]="i">
      <mat-form-field appearance="outline" class="col col-lg-5 col-md-6col-sm-12 col-xs-6 ml-0">
        <mat-label>Email for simulation</mat-label>
        <input matInput type="text" formControlName="senderEmail" >
        
      </mat-form-field>

      <mat-form-field appearance="outline" class="row col-lg-6 col-md-7 col-sm-12 col-xs-6 ml-0" >
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="senderPassword">
      </mat-form-field>
   
      <button type="button"  style="background-color:#66209D;" *ngIf="i==0" class="btn col col-lg-1 col-md-6 col-sm-12 col-xs-6" [value]="true" (click)="addAddress()"  ><mat-icon class="col col-md-6 col-sm-12 col-xs-6 icon-display" matTooltip="Emails" >add_circle_outline</mat-icon></button>
      
      <button *ngIf="i>0" style="background-color:#66209D;" type="button" (click)="onRemoveQuestion(i)" class="btn btn-outline-danger col col-lg-1 col-md-6 col-sm-12 col-xs-6 pr-1"><mat-icon class="col col-md-6 col-sm-12 col-xs-6 icon-display" style="margin-left: 3%;">highlight_off</mat-icon>
       </button>
  </div>
  </div>



<!--send attachment-->
<!--no attachment part-->
<div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
  <h3 style="margin-left: 15px;margin-bottom: 5px;font-size: 15px;color: #531D89;" class="row col-lg-6 col-md-6 col-sm-12 col-xs-6 ml-0">Send Attachment</h3>

  <input name="radio2"  [(ngModel)]="attachment" type="radio" [value]="false" [checked]="!attachment" style="margin-left:12px;font-size: 11px;margin-right: 2%;" class="col col-lg-1 col-md-3 col-sm-3 col-xs-3" formControlName="radio2"  >No

<!--no attachment part ended-->

<!--send attachment start-->

  <input name="radio2"  [(ngModel)]="attachment" type="radio" [value]="true" [checked]="attachment" style="margin-left:12px; font-size: 11px;margin-right: 2%;" class="row col-lg-1 col-md-2 col-sm-3 col-xs-3 p-2" formControlName="radio2"  >Yes
</div>
<!--provide your custom name-->
<div *ngIf="attachment">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field class="w-100" appearance="outline" aria-placeholder="attachment.pdf" style="width:97.35% !important;padding-top: 5px;
      font-size: 16px; padding-left: 10px;">
      <mat-label>Provide the file name</mat-label>
      <textarea matInput type="text" formControlName="fileattach" #input8 maxlength="50" required></textarea>
      <mat-error *ngIf="phisingForm.value.fileattach=='' || phisingForm.value.fileattach==null ">Please Edit/Fill Attachement Name</mat-error>
      <mat-hint align="end" >{{input8.value?.length || 0}}/50</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <!--Code for provide attachment content-->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field class="w-100" appearance="outline" aria-placeholder="attachment.pdf" style="width:97.35% !important;padding-top: 5px;
      font-size: 16px; padding-left: 10px;">
      <mat-label>Provide File content</mat-label>
      <textarea matInput type="text" formControlName="filecontent" #input9 maxlength="2000" required></textarea>
      <mat-error *ngIf="phisingForm.value.filecontent=='' || phisingForm.value.filecontent==null ">Please Edit/Fill Attachement content</mat-error>
      <mat-hint align="end" >{{input9.value?.length || 0}}/2000</mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>

<div>
  
</div>

<div>
  <div>
    <button type="submit"  mat-raised-button class=" add_btn" (click)="submit()"   >Send to me</button>

  
    <button type="submit" mat-raised-button class="add_btn" (click)="sendcampaign()" >Send Campaign</button>
   
  
    <button type="submit" mat-raised-button class="add_btn" (click)="schedulelater()" >Schedule Later</button>
  </div>

</div>
</div>

</div>

</div>

</form>

<div class="row mt-5"></div>
<div class="row mt-3" *ngIf="api_hit==true">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    CAMPAIGN SUBMITTED SUCCESSFULLY!
    <!-- {{response}} -->
  </div>
</div>
</div>
</body>

