<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button type="button" class="close" (click)="onClose()"aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">close</i></span>
        </button>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mat-dialog-content col-center ml-1 mt-2" style="padding-left: 15%;">
        <img src="../../../assets/images/information.png" >
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-center mat-dialog-content ml-1 mt-4" >
    <p style="font-size: 16px;margin-left: 12%;text-align: center;">{{data.title}}</p>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mat-dialog-content col-center ml-1 mt-4" style="padding-left: 15%;">
    <button type="submit" mat-raised-button id="ok_btn" (click)="onClose()">OK</button>
</div>
</div>
