.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}
.curser-pointer {
  cursor: pointer;
}
.fill-txt,
.upload-txt,
.note-txt {
  font-size: 16px;
  line-height: 24px;
}
.fill-txt {
  font-weight: 600;
  color: #38a3a5;
  margin-bottom: 25px;
}
.upload-txt {
  font-weight: 400;
  margin-bottom: 7px;
}
.attachment-display {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
  margin-left: 10px;
}

#attachment_btn {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border: none;
  color: #205072;
}

.attachment-div {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: rgb(202, 247, 232);
  margin-left: 21px;
  border-radius: 5px;
}

.heading {
  margin-left: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
  color: #38a3a5;
}

input[type="radio"] {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

.add_btn {
  background: #38a3a5;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  height: 40px;
}
.padding-left {
  padding-left: 12px;
}
.note-txt {
  margin: 19px 0px;
  color: #d15a5a;
  font-weight: 400;
}
.radiolabel {
  font-size: 18px;
  padding-left: 5px;
  color: #626262;
}
.alarm-icon {
  right: 14px;
  bottom: 13px;
  color: #38a3a5;
}

::ng-deep .mat-datepicker-toggle {
  color: #38a3a5;
}

.ui-datepicker {
  background: #333;
  border: 1px solid #555;
  color: #eee;
}

.datepick {
  padding-left: 2.69%;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #38a3a5;
}
