<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
  <span aria-hidden="true" (click)="onClose()"><i class="material-icons">close</i></span>
</div>
<form [formGroup]="phisingForm">
  <div class="d-flex justify-content-center align-items-center">
    <mat-form-field appearance="outline" class="datepick">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" [min]="currentdate" [max]="maxDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      <!-- <input placeholder="12hr format" formControlName="time" aria-label="12hr format" [ngxTimepicker]="default" readonly style="margin-left: 30px ;height: 40px; width: 155px;margin-bottom: 20px;">
      <ngx-material-timepicker #default [enableKeyboardInput]="true" [theme]="darkTheme"></ngx-material-timepicker> -->
      <mat-form-field appearance="outline" class="mx-2"> 
        <mat-label>Select a time <mat-icon>alarm_on</mat-icon></mat-label>
        <input matInput [ngxTimepicker]="timePicker" [format]="12" formControlName="time"> 
        <mat-timepicker-toggle matSuffix></mat-timepicker-toggle> 
        <ngx-material-timepicker #timePicker [enableKeyboardInput]="true" [theme]="darkTheme"></ngx-material-timepicker>
       </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Select TimeZone</mat-label>
        <mat-select [(value)]="selected" formControlName="timezone">
          <mat-option value="Canada/Pacific">PST [Canada/Pacific]</mat-option>
          <mat-option value="Asia/Kolkata">IST [Asia/Kolkata]</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="d-flex justify-content-center">
  <div>
    <button type="submit" class="w-100" [mat-dialog-close]="true" mat-stroked-button class="add_btn">Cancel</button>
  </div>
  <div>
    <button type="submit" class="w-100" [mat-dialog-close]="true" mat-stroked-button class="add_btn" (click)="schedulelater()">ReSchedule Campaign</button>
  </div>
</div>
    </form>
    
    
    
    