<form [formGroup]="phisingForm">
    <!--
    <mat-form-field class="example-full-width" appearance="fill" style="margin-left: 15px;">
      <mat-label style="height: 30px;">Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon style="color: #771CAF;">calendar_today</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      
    </mat-form-field>
    -->
    <mat-form-field appearance="fill" class="datepick">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    
      <input placeholder="12hr format" formControlName="time" aria-label="12hr format" [ngxTimepicker]="default" readonly style="margin-left: 30px ;height: 40px; width: 155px;margin-bottom: 20px;">
      <ngx-material-timepicker #default [enableKeyboardInput]="true" [theme]="darkTheme"></ngx-material-timepicker>
      
      <mat-form-field appearance="fill" class="m-4">
        <mat-label>Select TimeZone</mat-label>
        <mat-select [(value)]="selected" formControlName="timezone">
          <mat-option value="Asia/Pacific">[Asia/Pacific]</mat-option>
          <mat-option value="Asia/Kolkata">[Asia/Kolkata]</mat-option>
        </mat-select>
      </mat-form-field>
        
    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button type="submit" mat-raised-button class="add_btn" (click)="schedulelater()">ReSchedule Campaign</button>
    </div>
    </form>
    
    
    
    