<div class="container">
  <div class="fill-txt">Fill the details to Schedule the campaign</div>
  <form [formGroup]="phisingForm">
    <div class="row d-flex justify-content-center">
      <mat-form-field
        class="col-lg-4 col-md-4 col-sm-12 col-12"
        appearance="outline"
      >
        <mat-label>Choose a date (MM/DD/YYYY)</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          [min]="currentdate"
          [max]="maxDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field
        class="col-lg-4 col-md-4 col-sm-12 col-12"
        appearance="outline"
      >
        <mat-label>12 hrs format</mat-label>
        <input
          matInput
          [ngxTimepicker]="timePicker"
          [format]="12"
          formControlName="time"
        />
        <mat-icon class="position-absolute alarm-icon">alarm_on</mat-icon>
        <mat-timepicker-toggle matSuffix></mat-timepicker-toggle>
        <ngx-material-timepicker
          #timePicker
          [enableKeyboardInput]="true"
          [theme]="darkTheme"
        ></ngx-material-timepicker>
      </mat-form-field>

      <mat-form-field
        class="col-lg-4 col-md-4 col-sm-12 col-12"
        appearance="outline"
      >
        <mat-label>Select TimeZone</mat-label>
        <mat-select [(value)]="selected" formControlName="timezone">
          <mat-option value="Canada/Pacific">PST [Canada/Pacific]</mat-option>
          <mat-option value="Asia/Kolkata">IST [Asia/Kolkata]</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row m-0 mb-3 mt-3">
      <div class="m-0 p-0 col-md-8 note-txt">
        Note :- Please provide only geminisolutions.com id's in csv
      </div>
      <div class="p-0 m-0 col-md-1 d-flex align-items-center">
        <mat-icon (click)="samplecsv()" matTooltip="Sample csv">info</mat-icon>
      </div>
    </div>
    <div class="upload-txt">Upload .csv file with custom email</div>
    <div class="mb-3">
      <input
        type="file"
        accept=".csv"
        id="firsting"
        class="form-control"
        formControlName="attachmentFile"
        (change)="onChange($event)"
      />
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-12 pl-1 mb-2">
        <button
          [mat-dialog-close]="true"
          mat-stroked-button
          class="add_btn w-100"
          (click)="onClose()"
        >
          Cancel
        </button>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-12 pl-1">
        <button
          type="submit"
          [mat-dialog-close]="true"
          mat-stroked-button
          class="add_btn w-100"
          (click)="schedulelater()"
        >
          Schedule Campaign
        </button>
      </div>
    </div>
  </form>
</div>
