<div class="container font-style mb-4">
  <div class="mt-4 d-flex align-items-center">
    <img [src]="this.shieldImg"/>
    <span class="choose-temp-txt"
      >Choose any one template to create campaign</span
    >
  </div>
  <div class="row mt-4">
    <div
      class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 m-0 p-2 d-flex justify-content-center"
    >
      <div
        [ngClass]="{
          'img-xs': isScreenSizeXs(),
          'img-not-xs': !isScreenSizeXs()
        }"
        class="p-2"
        (click)="setSelectedTemplate(1)"
      >
        <div class="amazon-temp-back-img d-flex align-items-end w-100 h-100" [style.background-image]="this.amazonTemplateImg">
          <div
            [ngClass]="{
              'cutom-shadow-selected h-100 position-relative align-items-center justify-content-center':
                this.selectedTemplate === 1,
              'custom-shadow h-50 d-block': this.selectedTemplate !== 1
            }"
            class="w-100 d-flex align-items-end"
          >
            <div class="d-flex align-items-center justify-content-center">
              <img
                *ngIf="this.selectedTemplate === 1"
                [src]="this.selectedShieldImg"
              />
            </div>
            <div class="p-2 text-white position-absolute bottom-0 start-0">
              Amazon Template
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 m-0 p-2 d-flex justify-content-center"
    >
      <div
        [ngClass]="{
          'img-xs': isScreenSizeXs(),
          'img-not-xs': !isScreenSizeXs()
        }"
        class="p-2"
        (click)="setSelectedTemplate(3)"
      >
        <div class="acount-temp-back-img d-flex align-items-end w-100 h-100" [style.background-image]="this.accountTemplateImg">
          <div
            [ngClass]="{
              'cutom-shadow-selected h-100 position-relative align-items-center justify-content-center':
                this.selectedTemplate === 3,
              'custom-shadow h-50 d-block': this.selectedTemplate !== 3
            }"
            class="w-100 d-flex align-items-end"
          >
            <div class="d-flex align-items-center justify-content-center">
              <img
                *ngIf="this.selectedTemplate === 3"
                [src]="this.selectedShieldImg"
              />
            </div>
            <div class="p-2 text-white position-absolute bottom-0 start-0">
              Account Template
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 m-0 p-2 d-flex justify-content-center"
    >
      <div
        [ngClass]="{
          'img-xs': isScreenSizeXs(),
          'img-not-xs': !isScreenSizeXs()
        }"
        class="p-2"
        (click)="setSelectedTemplate(5)"
      >
        <div class="it-temp-back-img d-flex align-items-end w-100 h-100" [style.background-image]="this.itTemplateImg">
          <div
            [ngClass]="{
              'cutom-shadow-selected h-100 position-relative align-items-center justify-content-center':
                this.selectedTemplate === 5,
              'custom-shadow h-50 d-block': this.selectedTemplate !== 5
            }"
            class="w-100 d-flex align-items-end"
          >
            <div class="d-flex align-items-center justify-content-center">
              <img
                *ngIf="this.selectedTemplate === 5"
                [src]="this.selectedShieldImg"
              />
            </div>
            <div class="p-2 text-white position-absolute bottom-0 start-0">
              IT Template
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 m-0 p-2 d-flex justify-content-center"
    >
      <div
        [ngClass]="{
          'img-xs': isScreenSizeXs(),
          'img-not-xs': !isScreenSizeXs()
        }"
        class="p-2"
        (click)="setSelectedTemplate(0)"
      >
        <div class="custom-temp-back-img d-flex align-items-end w-100 h-100" [style.background-image]="this.customTemplateImg">
          <div
            [ngClass]="{
              'cutom-shadow-selected h-100 position-relative align-items-center justify-content-center':
                this.selectedTemplate === 0,
              'custom-shadow h-50 d-block': this.selectedTemplate !== 0
            }"
            class="w-100 d-flex align-items-end"
          >
            <div class="d-flex align-items-center justify-content-center">
              <img
                *ngIf="this.selectedTemplate === 0"
                [src]="this.selectedShieldImg"
              />
            </div>
            <div class="p-2 text-white position-absolute bottom-0 start-0">
              Custom Template
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4" *ngIf="isTemplateSelected()">
    <button (click)="navigateToTemplateForm()" class="create-camp-btn rounded p-2">
      <div class="btn-text">+ Create Campaign</div>
    </button>
  </div>
</div>
