.timepicker-overlay {
    z-index: 1100 !important;
  }
  
  .timepicker-backdrop-overlay {
    z-index: 1100 !important;
  }
  mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  background-color: transparent;
}
mat-sidenav-content {
  overflow-x: auto;
}

mat-sidenav {
  width: 200px;
}