
  .img1{
    position: absolute;
    width: max-content;
    top: 0;
    left: 0;   
    height: 100vh;
    width: 100%;
  opacity: 2;
  z-index: 1;
  background-image: url(../../../../assets/images/final_bg_image.png);  
  background: url(../../../../assets/images/final_bg_image.png) fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  overflow: hidden; 
  }
  
  .img3{
  position: absolute;
    top:0;
    height: 610px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
  background: #AFDADB;
  min-width: 100px;
  max-width:100px
  }

  .img2{
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 50%; 
  }
  .align-end{
    display: flex;
    justify-content: end;
  }
  .align-c{
    display: flex;
    align-items: center;
  }
  
  .img4{
  position: absolute;
  left: 71%;
  right: 7%;
  top: 15.91%;
  bottom: 40.62%;
  z-index: 3;
  }
  .logo-design-bar{
  position: absolute;
  left: 9.96%;
  right: 59.37%;
  top: 33.29%;
  bottom: 44.53%;
  border: 3px solid;
  border-image: linear-gradient(to right, #7BE495, #205072);
  border-image-slice: 1;
  border-radius: 10px;
  }
  
  .pirates-class{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  position: absolute;
  left: 63.79%;
  right: 10%;
  top: 38.91%;
  bottom: 43.62%;
  color: #205072;
  z-index: 1;
  }
  
  .pirate-photo{
  position: absolute;
  left: 45.28%;
  right: 90.75%;
  top: 10.45%;
  bottom: 49.51%;
  height: 70px;
  z-index: 1;
  }
  .welcome{
  position: absolute;
  left: 75%;
  right: 8%;
  top: 28.91%;
  bottom: 43.62%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #FFFF;
  z-index: 3;
  }
  
  .btn_login{
    color: #FFFF;
    padding-top: 3px;
    padding-bottom:28px;
    position: absolute;
    left: 67.06%;
    right: 5.54%;
    top: 80.59%;
    bottom: 20.2%;
    background: #D125FF;
    box-shadow: 0px 4px 20px rgba(245, 36, 237, 0.3);
    align-content: center;
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: large;
    display: flex;
    justify-content: center;
    border: rgba(0, 0, 0, 0.25);
    z-index: 3;
  }
  .onboarding{
    color: #FFFF;
    padding-top: 3px;
    text-align: center;
    padding-bottom:30px;
    position: absolute;
    left: 67.06%;
    right: 5.54%;
    top: 90.59%;
    bottom: 7.2%;
    background: #D125FF;
    box-shadow: 0px 4px 20px rgba(245, 36, 237, 0.3);
    align-content: center;
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: large;
    display: flex;
    justify-content: center;
    border: rgba(0, 0, 0, 0.25);
    z-index: 3;
  }
  