    <html>
      <head>
        
      </head>
      <body>
          <div class="row full ">
              <div class="container-body">
                  <img class="img1" src="">
                  <div class="img3"></div>
                  <img class="img4" src="../../../../assets/images/geminilogo.svg">
                  <div class="logo-design-bar">
                          <img class="pirate-photo" src="../../../../assets/images/pirate_photo.svg">
                  </div>
                  <div class="pirates-class">
                              <legend>PIRATES OF GEMINI</legend>
                  </div>
                  <div class="welcome">
                      Welcome To 
                  </div>
                  <div class="lower-ec">

                  </div>
                  <div class="row">
                      <div class="mat-center-horizontal col-lg-12 col-sm-12 col-md-12 col-xs-12 mb-4">
                      <button mat-raised-button class="btn_login" (click)="loginWithMicrosoft2()">Login</button>
                  </div>
                  </div>
                  <div class="row">
                    <div class="mat-center-horizontal col-lg-12 col-sm-12 col-md-8 col-xs-12 mb-4">
                    <button mat-raised-button class="onboarding"  routerLink="/sign-up">Onboard yourself</button>
                </div>
                </div>
                  <img class="align-c align-end img2"   src="../../../../assets/images/bgimage.svg">
              </div>
              
          </div>
      </body>
  </html>
