
<div class="row full align-c">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 offset-1">
    <mat-card >
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading mb-3">
          WELCOME
        </div>
        <div class="row">
          <div class="mat-center-horizontal col-lg-12 col-sm-12 col-md-12 col-xs-12 mb-4">
          <button mat-raised-button class="btn_login" (click)="loginWithMicrosoft2()">Login with Gemini mail</button>
      </div>
  </div>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 align-c align-end">
<img src="../../../../assets/images/amico.svg">
  </div>
</div>
    <html>
      <head>
        
      </head>
      <body>
          <div class="row full ">
              <div class="container-body">
                  <img class="img1" src="">
                  <div class="img3"></div>
                  <img class="img4" src="../../../../assets/images/geminilogo.svg">
                  <div class="logo-design-bar">
                          <img class="pirate-photo" src="../../../../assets/images/pirate_photo.svg">
                  </div>
                  <div class="pirates-class">
                              <legend>PIRATES OF GEMINI</legend>
                  </div>
                  <div class="welcome">
                      Welcome To 
                  </div>
                  <div class="lower-ec">

                  </div>
                  <div class="row">
                      <div class="mat-center-horizontal col-lg-12 col-sm-12 col-md-12 col-xs-12 mb-4">
                      <button mat-raised-button class="btn_login" (click)="loginWithMicrosoft2()">Login</button>
                  </div>
                  </div>
                  <img class="align-c align-end img2"   src="../../../../assets/images/bgimage.svg">
              </div>
              
          </div>
      </body>
  </html>
