
<body>
    <div class="row bgimg">           
        <div class="mask text-light d-flex justify-content-center flex-column text-center mt-1 col-lg-6 col-md-8 col-sm-10 col-xs-12">
                <div class="example-full-width col-lg-12 col-md-10 col-sm-8 col-xs-6 heading" >
                    <img src="../../../../assets/images/whitegeminilogo.png" class="img2" alt="img1">
                  </div>
              <div class="col-lg-12 col-md-10 col-sm-8 col-xs-6 heading align-center welcome">
                Welcome To
              </div>
              <div class="col-lg-12 col-md-10 col-sm-10 col-xs-12 heading align">
                <img src="../../../../assets/images/piratelogowithbar.png" alt="img1">
                </div>
              <form [formGroup]="loginForm">
                <div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2 align-center ">
                        <mat-form-field appearance="outline" class="formf">
                          <input matInput type="email" formControlName="email"  class="color-white" placeholder="Enter email ID" >
                        </mat-form-field>
                      </div>
                <!-- role based approach -->
                  <div class="align-center mt-4">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                      <button type="submit" mat-raised-button (click)="sendLink()" id="add_btn">Send Link</button>
                  </div>
                  </div>
                </div>
              </form> 
        </div>
        </div>
      </body>
    
