
body{
    background-image: url("../../../../assets/images/new_design_bg_img.png");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position:center ;
    overflow: auto;
  }
  .bgimg{
    min-height: 100vh;
  }
  body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  span{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  }
  mat-card{
    border-radius: 10px;
  }
  img{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed ;
  }
  .login{
    background: #38A3A5;
  box-shadow: 0px 4px 10px rgba(35, 154, 191, 0.3);
  
  }
  .heading{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: white;
  }
  .align-center{
    display: flex;
    justify-content: center;
  }
  
  #add_btn{
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    color: #ffffff;
    margin-bottom: 7px;
    background: linear-gradient(90deg, #38A3A5 -2.98%, #56C596 106.62%);
  }
  .welcome{
    font-size: 20px;
    font-weight: bold;
  }
  .textfields{
    border-radius: 5px;
    border-color: #ffffff;
  }
  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
    border-radius: 5px;
    border: 1px;
  }
  .color-white{
    color:white;
  }
  ::placeholder{
    color: #ffffff;
    text-align: center;
  }
  .mask{
    position: relative;
  }
  
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .mask{
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .mask .pirate {
      width: 100%;
    }
  }
  .formf{
    width: 30vw;
  }