
body{
    background-image: url("../../../../assets/images/onboardimg.png");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position:center ;
    overflow: auto;
  }
  .bgimg{
    min-height: 100vh;
  }
  body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }

  @media screen and (max-width: 800px) {
    .logo{
      display: none;
    }
  }
  #add_btn{
    background: #38A3A5;
    border-radius: 5px;
  }
  #add_btn:focus{
    box-shadow: none;
  }
  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
    color: white;
    border-radius: 5px;
    border: 1px;
  }
  .color-white{
    color:white;
  }
  ::ng-deep .mat-form-field-label, .mat-form-field-input {
    /*change color of label*/
    color: white!important;
   }
   .weak,.medium,.strong {
    color: white;
  }