<div class="overflow-auto bg-white mb-2 common-container">
  <table
    mat-table
    [dataSource]="courseSimulationTable"
    class="mat-elevation-z0 font-style w-100"
  >
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="pl-3 border-0 text-white"
      >
      <div class="p-3">{{ isCourseTabOpened ? "Course " : "" }}Name</div>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="pt-2 pb-1 border-0"
      >
        <div class="tdata-row start-corner p-3 h-100">
          {{ element.name }}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="time">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="pl-3 border-0 text-white"
      >
      <div class="p-3">{{ isCourseTabOpened ? "Course " : "" }}Time</div>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="pt-2 pb-1 border-0"
      >
        <div class="tdata-row p-3 h-100">{{ element.time }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th
        [hidden]="isCourseTabOpened"
        mat-header-cell
        *matHeaderCellDef
        class="pl-3 border-0 text-white"
      >
      <div class="p-3">Date</div>
      </th>
      <td
        [hidden]="isCourseTabOpened"
        mat-cell
        *matCellDef="let element"
        class="pt-2 pb-1 border-0"
      >
        <div class="tdata-row p-3 h-100">{{ element.date }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="assignedDate">
      <th
      [hidden]="!isCourseTabOpened"
        mat-header-cell
        *matHeaderCellDef
        class="pl-3 border-0 text-white"
      >
      <div class="p-3">Assigned Date</div>
      </th>
      <td
      [hidden]="!isCourseTabOpened"
        mat-cell
        *matCellDef="let element"
        class="pt-2 pb-1 border-0"
      >
        <div class="tdata-row p-3 h-100">{{ element.assignedDate }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="completionDate">
      <th
      [hidden]="!isCourseTabOpened"
        mat-header-cell
        *matHeaderCellDef
        class="pl-3 border-0 text-white"
      >
      <div class="p-3">Completion Date</div>
      </th>
      <td
      [hidden]="!isCourseTabOpened"
        mat-cell
        *matCellDef="let element"
        class="pt-2 pb-1 border-0"
      >
        <div class="tdata-row p-3 h-100">{{ element.completionDate }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="courseScore">
      <th
      [hidden]="!isCourseTabOpened"
        mat-header-cell
        *matHeaderCellDef
        class="pl-3 border-0 text-white"
      >
      <div class="p-3">Course Score</div>
      </th>
      <td
      [hidden]="!isCourseTabOpened"
        mat-cell
        *matCellDef="let element"
        class="pt-2 pb-1 border-0"
      >
        <div class="tdata-row p-3 h-100">{{ element.courseScore }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="pl-3 border-0 text-white"
      >
      <div class="p-3">Status</div>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="pt-2 pb-1 border-0"
      >
        <div class="tdata-row p-3 h-100">{{ element.status }}</div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
  </table>
  <div *ngIf="!courseSimulationTable.data.length" class="d-flex justify-content-center align-items-center no-data-container">
    <div class="text-center">
        <img src="../../../../../assets/images/cross-icon.svg" />
        <div class="text-center font-style mt-3">No records found!</div>
    </div>
  </div>
  <mat-paginator
    class="mt-1 mb-4 rounded"
    [pageSizeOptions]="[5]"
    [pageIndex]="tablePageIndex"
    (page)="pageEvent = getData($event)"
    [length]="tableLength"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
