<div style="background-color: #f7f1f7; 
            font-size: 20px; 
            padding: 15px; 
            border: 1px solid #9B2F9B; 
            margin: 100px;
            margin-top: 200px;
            align-content: center;
            text-align: center;
            border-radius: 50px;
            box-shadow: #9B2F9B;
            color: #9B2F9B;
            ">
  <h2 style=" color: #9B2F9B;">!! You have been Phished !!</h2>
  <p style="text-align: center;
  color: #9B2F9B;">This email is part of simulation, sent in order to train and aware employees with respect to email Phishing.
    L&D Team will be reaching out to you with required trainings related to phishing awareness program.</p>
</div>