@import url("https://fonts.googleapis.com/css?family=Poppins");
.body-gift{
  display: flex;
  align-items: center;
height: 100vh;
background-image: url('../../../../assets/2191086.jpeg');
background-size: cover;
background-repeat: no-repeat;
}
.text{
  display: flex;
  justify-content: end;
  margin-right: 50px;
  width: 100%;
  font-family: Poppins;
  font-size: 30px;
  color: white;
}
