input{
  border: 1px solid;
  box-shadow: antiquewhite;
  height: 30px;
  border-radius: 2px;
}
input::after{
  border: none;
}
.forgot{
  text-decoration:none;
  float: left;
  color:#0275d8;
}
a, a:focus, a:hover {
  color: #0082c6;
  text-decoration: none;
  cursor: pointer;
}
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 120px;
  height: 2px;
  background: rgb(231, 228, 228);
}

.strike > span:before {
  right: 100%;
  margin-right:  15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}
.login{
  background: #082737;
  color: #fff;
  padding: 7px 34px 7px 34px;
}
.login:hover{
  background-color:#1b2f67 ;
}
.img1{
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:  rgb(233, 234, 240);
  overflow-y: auto;
}

mat-card{
 background: #fff;
}
[type=email] {
  padding: 1em 16px 1em 1em;
}
[type=password] {
  padding: 1em 16px 1em 1em;
}


small{
  align:justify;
  font-size: small;
  color: black;
  display: inline-flex;
  justify-content:flex-start;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  small {
    display: none;
  }
}
.ssobtn{
  padding: 7px 24px 7px 24px;
    background: #38a3a5;
    border: #38a3a5;
    color: white;
}
.ssobtn:hover{
  background:#1b2f67; 
}