<!-- <div class="row center-align "  style="color: white ; text-align:center; padding-top:2%; padding-left: 32%;">
  <mat-card class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card" style="text-align:center;" >
      <img mat-card-image src="../../../../assets/images/click.png" style="text-align:center;">
      <h4 class="cont">You Have been Phished and L&D team will be connecting with you for further steps</h4><br>
      <h4 class="cont">Thank you</h4>
    </mat-card>
</div> -->
<body >
<div class="row center-align" style="background-color: white; height: 100%; padding-left: 1%;" >
  <h3>Error in loading Page. Please Try again.</h3>
</div>
</body>