<body>
<div class="container-lg">
  <mat-card>
    <img mat-card-image src="../../../../assets/images/click.png" style="position:absolute; left:30%">
    <div class="content" >
    <p class="content"style="position: absolute;
    width: 107px;
    height: 51px;
    left: 50%;
    top: 55%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    /* identical to box height */
    
    color: #EB3939;" >OOPS!!</p>
    <p style="position: absolute;
    width: 40%;
    height: 51px;
    left: 43%;
    top: 59%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    /* identical to box height */
    
    color: #EB3939;">You Have Been Phished</p>
  </div>
  <div class="nextcontent" style="position: absolute;
  left: 22.57%;
  right: 20.5%;
  top: 75.12%;
  bottom: 11.98%;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 150% */
  
  text-align: center;
  
  color: #205072;">Cyber security is the practice of defending computers, servers, mobile devices, electronic systems, networks, and data from malicious attacks. It's also known as information technology security or electronic information security.</div>
  </mat-card>
</div>
</body>