<div *ngIf="this.StoreData==false" class="overlay">
  <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value" diameter="50" *ngIf="this.StoreData==false"></mat-progress-spinner>
</div>
<form [formGroup]="phisingForm">
  <div class="col-lg-12 inline-block" *ngIf="manager== 'true'">
<mat-form-field appearance="fill" class="datepick">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" formControlName="date"  [min]="currentdate" [max]="maxDate">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker ></mat-datepicker>
</mat-form-field>


<input placeholder="12hr format" required formControlName="time" aria-label="12hr format" [ngxTimepicker]="default" readonly style="margin-left: 30px ;height: 40px; width: 155px;margin-bottom: 20px;">
<ngx-material-timepicker #default [enableKeyboardInput]="true" [theme]="darkTheme"></ngx-material-timepicker>


<mat-form-field appearance="fill" class="m-4">
  <mat-label>Select TimeZone</mat-label>
  <mat-select [(value)]="selected" formControlName="timezone">
    <mat-option value="Canada/Pacific">PST [Canada/Pacific]</mat-option>
    <mat-option value="Asia/Kolkata">IST [Asia/Kolkata]</mat-option>
  </mat-select>
</mat-form-field>


<!--send to reportees logic-->
<div>
  <h2 class="heading">Send To Reportees</h2>

  <div class="radiogrp col-xs-12 col-sm-12 col-md-12 col-lg-11">
    <div>
      <input name="radio"  [(ngModel)]="options" type="radio" [value]="true" [checked]="options" style="margin-left:15px;font-size: 40px;" formControlName="radio"  ><label class="radiolabel">Yes</label>
     
    <!--if send via csv is selected -->  
      <input name="radio" [(ngModel)]="options" type="radio" [value]="false" [checked]="!options" style="margin-left:150px; margin-top: 15px; font-size: 40px;margin-bottom: 10px;" formControlName="radio" ><label  class="radiolabel">No</label>
    </div>
  </div>
  <!--send attachment-->
  <div *ngIf="!options">
    <div class="row" >
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex flex-row-reverse"  >
      <mat-icon (click)="samplecsv()" matTooltip="Sample csv" matTooltipPosition="above">info</mat-icon> 
      </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11" style="margin-left: 12px;">
      <Strong class="notesub mt-2" >Note:- </Strong>
      <span class="note">Please provide only geminisolutions.com id's in csv</span> 
      <label for="firsting" id="attachment_btn" style="font-size: 16px;"><img style="width:20px; height: 20px;"
              src="../../../../assets/images/attachment1.png"> Upload .csv file with custom emails.</label>
      <input type="file" accept=".csv" id="firsting" class="form-control" formControlName="attachmentFile"
          (change)="onChange($event)"required>
  </div>
  </div>
  <div class="row mt-2 " *ngIf="changeTriggered==true && this.file!=null">
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 attachment-div" >
      <img class="mr-2" src="../../../../assets/images/attachment_black.svg">
        <a class="attachment-display" style="width:320px !important">{{file.name}}</a>

    </div>

  </div>
  <mat-error *ngIf="this.submitted==true && this.file==null">
    Please upload file.
  </mat-error>
</div>

</div>
<div class="row col-lg-11 col-md-12 col-sm-12 col-xs-12">
  <button type="submit" mat-raised-button class="add_btn" (click)="schedulelater()">Schedule Campaign</button>
</div>
    
</div>

<!--if not a manager-->
<div class="col-lg-12 inline-block" *ngIf="manager=='false'">
  <!--
  <mat-form-field class="example-full-width" appearance="fill" style="margin-left: 15px;">
    <mat-label style="height: 30px;">Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon style="color: #771CAF;">calendar_today</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    
  </mat-form-field>
  -->
  <mat-form-field appearance="fill" class="datepick">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date"  [min]="currentdate" [max]="maxDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
  <input placeholder="12hr format" formControlName="time" aria-label="12hr format" [ngxTimepicker]="default" readonly style="margin-left: 30px ;height: 40px; width: 155px;margin-bottom: 20px;">
  <ngx-material-timepicker #default [enableKeyboardInput]="true" [theme]="darkTheme"></ngx-material-timepicker>
  
  
  <mat-form-field appearance="fill" class="m-4">
    <mat-label>Select TimeZone</mat-label>
    <mat-select [(value)]="selected" formControlName="timezone" aria-placeholder="Asia/Kolkata">
      <mat-option value="Canada/Pacific">PST [Canada/Pacific]</mat-option>
    <mat-option value="Asia/Kolkata">IST [Asia/Kolkata]</mat-option>
    </mat-select>
  </mat-form-field>
  
 

  <div>
    <div class="row" >
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex flex-row-reverse"  >
      <mat-icon (click)="samplecsv()" matTooltip="Sample csv" matTooltipPosition="above">info</mat-icon> 
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11" style="margin-left: 12px;">
        <Strong class="notesub mt-2" >Note:- </Strong>
        <span class="note">Please provide only geminisolutions.com id's in csv</span> 
        <label for="firsting" id="attachment_btn" style="font-size: 16px;"><img style="width:20px; height: 20px;"
                src="../../../../assets/images/attachment1.png"> Upload .csv file with custom emails.</label>
        <input type="file" accept=".csv" id="firsting" class="form-control" formControlName="attachmentFile"
            (change)="onChange($event)">
    </div>
    </div>
  
    <div class="row mt-2 " *ngIf="changeTriggered==true && this.file!=null">
      <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 attachment-div" >
        <img class="mr-2" src="../../../../assets/images/attachment_black.svg">
          <a class="attachment-display" style="width:340px !important">{{file.name}}</a>
  
      </div>
  
    </div>
    <mat-error *ngIf="this.submitted==true && this.file==null">
      Please upload file.
    </mat-error>
  </div>

  <div class="row col-lg-11 col-md-12 col-sm-12 col-xs-12">
    <button type="submit" mat-raised-button class="add_btn" (click)="schedulelater()">Schedule Campaign</button>
  </div>
</div>
</form>



