<div style="background-color:white; padding-left: 20px;">
    <div class="row"></div>
    <div class="row">Alert</div>
    <div class="row">Do you really want to delete this campaign?</div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button mat-stroked-button color="primary">Yes</button>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button mat-stroked-button color="primary">No</button>
        </div>
    </div>
</div>