
  <div *ngIf="this.StoreData==false" class="overlay">
    <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value" diameter="50" *ngIf="this.StoreData==false"></mat-progress-spinner>
  </div>
  <img class="logo" src="../../assets/images/finalpirates.png" style="overflow:auto;">
<div  class="row align-c">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-head mb-3" style="height:8%;padding-top: 1%;padding-bottom:5px;">
    
    <mat-icon>security</mat-icon>
   Onboarding 
   </div>
    <mat-card class="mat"  >
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 offset-1">
        <form [formGroup]="signupForm">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <mat-form-field appearance="outline" style="width:82.5% !important">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" #input1 formControlName="name" maxlength="50" placeholder="John Doe">
                  <mat-error *ngIf="signupForm.value.name===''">Please Provide Your Name</mat-error>
                    <mat-hint align="end" >{{input1.value?.length || 0}}/50</mat-hint>
                </mat-form-field>
                </div></div>
               <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <mat-form-field  appearance="outline" style="width:82.5% !important">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" id="in" #input2 formControlName="email" placeholder="email@geminisolutions.com" maxlength="50" required>
                    <mat-error  *ngIf="signupForm.value.email!=='true' && signupForm.value.email!=='' ">Please Provide Correct Email</mat-error>
                    <mat-error *ngIf="signupForm.value.email===''">Please Provide Your Email</mat-error>
                    <mat-hint align="end" >{{input2.value?.length || 0}}/50</mat-hint>
                  </mat-form-field>
                  
                </div>
              </div>

              <!--job description-->
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <mat-form-field  appearance="outline" style="width:82.5% !important;padding-top: 5px;
                  font-size: 14px;">
                    <mat-label>Designation</mat-label>
                    <input matInput type="text" #input3  maxlength="50" formControlName="jobdesc" placeholder="Software Engineer L1">
                    <mat-error *ngIf="signupForm.value.jobdesc===''">Please Provide Your Designation</mat-error>
                    <mat-hint align="end" >{{input3.value?.length || 0}}/50</mat-hint>
                  </mat-form-field>
                </div>
              </div>

              <!--purpose-->
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <mat-form-field appearance="outline"  style="width:82.5% !important;padding-top: 5px;
                  font-size: 14px;">
                    <mat-label>Mention Your Purpose</mat-label>
                    <textarea matInput type="text" #input4 formControlName="purpose" maxlength="200"></textarea>
                    <mat-error *ngIf="signupForm.value.purpose===''">Please Mention the Purpose</mat-error>
                    <mat-hint align="end" >{{input4.value?.length || 0}}/200</mat-hint>
                  </mat-form-field>
                </div>
              </div>

            <div class="row">
              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <button type="submit" mat-raised-button (click)="submit()" id="add_btn" >Onboard</button>
            </div>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 router" >
              Already an Onboarded User? Please <a routerLink="/main/login">Login</a>
             </div>
        </form>
     </div>
    </mat-card>
</div>
