
<div class="row col-lg-12 col-sm-12 col-md-12 col-xs-12 m-2 analytics card-container">
<div class="row" >
        <mat-card class="col-lg-2 col-sm-12 col-md-12 col-xs-12 m-2">
            <div>
                No of campaigns
            </div>
            <mat-card-title class="mb-3 ">
            </mat-card-title>
            <hr>
        </mat-card>

        <mat-card class="col-lg-2 col-sm-12 col-md-12 col-xs-12 m-2">
            <mat-card-title class="mb-3 "></mat-card-title>
        </mat-card>

        <mat-card class="col-lg-2 col-sm-12 col-md-12 col-xs-12 m-2">
            <mat-card-title class="mb-3 "></mat-card-title>
        </mat-card>

        <mat-card class="col-lg-2 col-sm-12 col-md-12 col-xs-12 m-2">
            <mat-card-title class="mb-3 "></mat-card-title>
        </mat-card>
    </div>
</div>