.dash-table{
  overflow: auto;
  border-radius: 5px !important;
}
.analytics{
    display:inline-flex;
    overflow-x: auto;
}
.matcards{
    background: #38A3A5;
    box-shadow: 0px 4px 20px rgba(56, 163, 165, 0.48);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.matcount{
    box-shadow: 0px 4px 20px rgba(56, 163, 165, 0.48);
    border-radius: 10px;
    display: block;
}
.my-spinner path {
    stroke: red;
  }
.textcolor{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #F7F7F7;
}
.counttext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #38A3A5;
}
  .linkbtn{
    background-color: white;
    border: none;
    box-shadow: none;
    text-decoration: underline;
    color: #38A3A5;
    width: 0.1%
  }

td,
th {
  height: 60px !important;
  font-size: 14px;
  line-height: 21px;
}
th {
  background: #38a3a5;
  font-weight: 600;
}
td {
  font-weight: 400;
}
td:first-of-type,
th:first-of-type {
  padding-left: 15px !important;
}
td:last-of-type,
th:last-of-type {
  padding-right: 15px !important;
}
.tdata-row {
  background: #f8f8f8;
  color: #545454;
}
.start-corner {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.end-corner {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 600;
}