<div class="overflow-auto bg-white pb-2 mb-4 common-container">
  <table
    mat-table
    [dataSource]="employeeCsvTable"
    class="mat-elevation-z0 font-style w-100"
  >
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="pl-3 border-0 text-white"
      >
      <div class="p-3">Name</div>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="pt-2 pb-1 border-0"
      >
        <div class="tdata-row start-corner p-3 h-100">{{ element.name }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="pl-3 border-0 text-white"
      >
      <div class="p-3">Email Id</div>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="pt-2 pb-1 border-0"
      >
        <div class="tdata-row p-3 h-100">{{ element.email }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="employeeId">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="pl-3 border-0 text-white"
      >
      <div class="p-3">Employee Id</div>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="pt-2 pb-1 border-0"
      >
        <div class="tdata-row p-3 h-100">{{ element.employeeId }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="manager">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="pl-3 border-0 text-white"
      >
      <div class="p-3">Manager</div>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="pt-2 pb-1 border-0"
      >
        <div class="tdata-row p-3 h-100">{{ element.manager === null ? '-' :  element.manager}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="department">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="pl-3 border-0 text-white"
      >
      <div class="p-3">Department</div>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="pt-2 pb-1 border-0"
      >
        <div class="tdata-row p-3 h-100">{{ element.department }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="pl-3 border-0 text-white"
      >
      <div class="p-3">Action</div>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="pt-2 pb-1 border-0"
      >
        <div
          class="d-flex p-3 h-100 text-dark tdata-row end-corner"
        >
          <div role="button" >
            <img src="../../../../../assets/icons/view_icon.svg"  (click)="navigateToClientDetails(element.employeeId)" matTooltip="View"
            matTooltipPosition="above" />
          </div>
          <div>&ensp;|&ensp;</div>
          <div role="button">
              <img src="../../../../../assets/icons/delete_icon.svg"  (click)="deleteEmployee(element.employeeId)" matTooltip="Remove"
                  matTooltipPosition="above" alt="Remove"/>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
  </table>
  <div *ngIf="!employeeCsvTable.data.length" class="d-flex justify-content-center align-items-center no-data-container">
    <div class="text-center">
        <img src="../../../../../assets/images/cross-icon.svg" />
        <div class="text-center font-style mt-3">No records found!</div>
    </div>
  </div>
</div>
