.upload-txt,
.note-txt {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.upload-txt {
  margin-bottom: 7px;
}
.send-btn,
.cancel-btn {
  border-radius: 5px;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  height: 5vh;
}
.note-txt {
  color: #d15a5a;
}
.cancel-btn {
  border: 1px solid #38a3a5;
  background: #38a3a5;
  color: white;
}
.send-btn {
  background: #38a3a5;
  color: white;
}
.font-style {
  font-family: "Poppins";
  font-style: normal;
}

.ui-datepicker {
  background: #333;
  border: 1px solid #555;
  color: #eee;
}

.datepick {
  padding-left: 2.69%;
}
.alarm-icon {
  color: #38a3a5;
}

.vertical-align{
  display: inline-flex;
  vertical-align: bottom;
  color: black
}