<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <span aria-hidden="true" class="close" (click)="onClose()"aria-label="Close"><i class="material-icons">close</i></span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-center mat-dialog-content ml-2 mt-4">
        <p style="font-size: 18px; font-weight: bold;text-align: center;">Please find the below csv for reference</p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mat-dialog-content col-center ml-1 mt-2">
        <img src="../../../assets/images/sampleemailcsv.png" >
</div>

<div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center mt-2">
    <!-- <button class="btn btn-outline-success" (click)="Reschedule(this.campaigns[i].scheduledJobKey)" matTooltip="RESCHEDULE" matTooltipPosition="above" style=" margin-left: 15%;"><mat-icon  >alarm_on</mat-icon></button> -->
    <button onclick="window.open('../../../assets/pdf/samplecsv.csv')" class="btn download1 mb-2 p-2 " style="margin-left: 62%;background-color:#45198E; 
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 5%;">Download Sample CSV</button>
  </div>
</div>
