/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Poppins');
html, body { height: 100%; }
body {
   margin: 0;
   background-color: #e2f4f4;
   background-image: url('./assets/images/finalbgimg.png');
   background-attachment: fixed;
   background-size: auto;
   background-repeat: no-repeat;
}
.timepicker-overlay {
   z-index: 1100 !important;
 }
 
 .timepicker-backdrop-overlay {
   z-index: 1100 !important;
 }