<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button type="button" class="close" (click)="onClose()"aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">close</i></span>
        </button>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mat-dialog-content col-center ml-1 mt-2" style="padding-left: 15%;">
        <img src="../../../assets/images/information.png" >
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-center mat-dialog-content ml-2 mt-4">
    <p style="font-size: 18px; font-weight: bold;text-align: center;">File is not in correct format</p>
   
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-center mat-dialog-content ml-2 ">
<p style="font-size: 15px;text-align: center;">Follow the mentioned instructions    </p> 
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-center mat-dialog-content ml-2 ">
    <ol style="font-size: 14px;">
        <li>One email per line</li>
        <li>No additional space or return characters</li>
        <li> Ensure to put a valid Gemini email id</li>
    </ol>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mat-dialog-content col-center ml-2"  style="padding-left: 15%;">
    <button type="submit" mat-raised-button id="ok_btn" (click)="onClose()">OK</button>
</div>
</div>

