<mat-form-field class="example-full-width" appearance="fill" style="margin-left: 15px;">
  <mat-label style="height: 30px;">Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" formControlName="date">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker">
    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  
</mat-form-field>

  <input placeholder="12hr format" formControlName="time" aria-label="12hr format" [ngxTimepicker]="default" readonly style="margin-left: 30px ;height: 40px; width: 170px;">
  <ngx-material-timepicker #default></ngx-material-timepicker>
  <div class="name">
    <button type="submit" mat-raised-button class="add_btn" (click)="schedulelater()" style="width:430px !important; margin-top: 35px;margin-left: 15px;">Schedule Campaign</button>
  </div>


