<div *ngIf="this.StoreData==false && flag==true" class="overlay">
  <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value" diameter="50" *ngIf="this.StoreData==false"></mat-progress-spinner>
</div>

<div class='body' style="overflow-x: hidden;">
<div class="row" >
 
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1" >
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  mt-4 pr-4 offset-0 align-end pl-4">
      <button id="add_btn" routerLink="/main/add-campaign">Create Campaign</button>
    </div>
  <div class="row">
  <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading-bold">
History
  </div>
  
  </div>
  </div>
  
<div>
  
</div>
<div class="left-ec"></div>
<!--Dashboard logic-->
  <div class="row mt-3">
    <div *ngIf="this.campaigns.length==0" class="col-lg-12 col-md-8 col-sm-8 col-xs-4 heading-message align-center">
      No Campaign added.
    </div>
    <div *ngFor="let element of this.campaigns; let i = index" >
        <div *ngIf="(i)%3==0 && i<=5" class="row ">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-12 box " >
          
          <a class="tile ">
            <div class="row">
          
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading mt-3" >
                {{campaigns[i].name}}
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading mt-1 " >
                {{campaigns[i].subject}}
              </div>
              <hr id="line-in-box">
              <div class="row mb-4 mt-2">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 sub-heading-1" >
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 click">
                  Clicked
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 clickc">
                  {{campaigns[i].opened}}
                </div>
              </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sub-heading-1 " >
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 notdel">
                    Not_Delivered
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 notdelc">
                    {{campaigns[i].notDelivered}}
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2 sub-heading-1 break-word" >
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 del ">
                    Delivered
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 delc">
                    {{campaigns[i].delivered}}
                  </div>
                  </div>
                </div>
              </div>
                <hr class="col-lg-12 col-md-12">
                
                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                  <!-- <div class="row"> -->
                    <div (click)="routeView(this.campaigns[i].taskId)" class="col-lg-14 col-md-12 col-sm-12 col-xs-8 sub-heading-1 justify mt-3">
                    <p><span class="underline">View More</span></p>
                    <!-- </div> -->

                  </div>
                </div>

                <!--date of creation of campaign-->
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-8 sub-heading-1 justify mt-3" style="color:#45198E;">
                  <!-- <div class="row"> -->
                    <p><span style="font-size: 12px;color: #45198E; text-align: right;">{{campaigns[i].created_on}}</span></p>
                    <!-- </div> -->
                  </div>
              
            </div>
          </a>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3 box" *ngIf="(i+1)<this.campaigns.length">
            <a class="tile">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading mt-3" >
                  {{campaigns[i+1].name}}
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading mt-1" >
                  {{campaigns[i+1].subject}}
                </div>
                <hr id="line-in-box">
                <div class="row mb-3 mt-2">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 sub-heading-1 mt-1" >
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 click">
                    Clicked
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 clickc">
                    {{campaigns[i+1].opened}}
                  </div>
                </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sub-heading-1 mt-1" >
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 notdel">
                      Not_Delivered
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 notdelc">
                      {{campaigns[i+1].notDelivered}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2 sub-heading-1 mt-1" >
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 del">
                      Delivered
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 delc">
                      {{campaigns[i+1].delivered}}
                    </div>
                    </div>
                  </div>
                </div>
                <hr>
                  <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                    <!-- <div class="row"> -->
                      <div (click)="routeView(this.campaigns[i+1].taskId)" class="col-lg-11 col-md-12 col-sm-12 col-xs-12 sub-heading-1 justify mt-3">
                      <p><span class="underline" style="font-size: 12px;">View More</span></p>
                      <!-- </div> -->
                       
                    </div>
                  </div>

                  <!--date of creation of campaign-->
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-8 sub-heading-1 justify mt-3">
                  <!-- <div class="row"> -->
                    <p><span style="font-size: 12px;color: #45198E; text-align: right;">{{campaigns[i+1].created_on}}</span></p>
                    <!-- </div> -->
                  </div>
                
              </div>
            </a>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3 box" *ngIf="(i+2)<this.campaigns.length" >
              <a class="tile">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading mt-3" >
                    {{campaigns[i+2].name}}
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading mt-1" >
                    {{campaigns[i+2].subject}}
                  </div>
                  <hr id="line-in-box">
                  <div class="row mb-3 mt-2">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 sub-heading-1 mt-1" >
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 click">
                      Clicked
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 clickc">
                      {{campaigns[i+2].opened}}
                    </div>
                  </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sub-heading-1 mt-1" >
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 notdel">
                        Not_Delivered
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 notdelc">
                        {{campaigns[i+2].notDelivered}}
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2 sub-heading-1 mt-1" >
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 del">
                        Delivered
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 delc">
                        {{campaigns[i+2].delivered}}
                      </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                
                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                      <!-- <div class="row"> -->
                        <div (click)="routeView(this.campaigns[i+2].taskId)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 justify mt-3">
                        <p><span class="underline">View More</span></p>
                        <!-- </div> -->

                      </div>
                    </div>

                    <!--date of creation of campaign-->
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-8 sub-heading-1 justify mt-3">
                    <!-- <div class="row"> -->
                    <p><span style="font-size: 12px;color: #45198E; ">{{campaigns[i+2].created_on}}</span></p>
                    <!-- </div> -->
                  </div>

                  <div class="bottom-ec"></div>
                </div>
              </a>
              </div>
</div>
  </div>
</div>
<!--dashboard logic end-->

<!--archive part -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mt-3" *ngFor="let element of this.campaigns; let i = index">
  <button (click) ="viewmore()" class="archive" *ngIf="i==6">{{ isShow ? 'View More': 'View Less' }}</button>
</div>
<div [hidden] = "isShow">
  <!--archive part of dashboard starts-->
  <div class="row mt-3">
    <div *ngIf="this.campaigns.length==0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading align-center">
      No Campaign added.
    </div>
    <div *ngFor="let element of this.campaigns; let i = index;" >
        <div *ngIf="(i)%3==0 && i>=6 " class="row ">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-12 box" >
          
          <a class="tile ">
            <div class="row">
          
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading mt-3" >
                {{campaigns[i].name}}
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading mt-1 " >
                {{campaigns[i].subject}}
              </div>
              <hr id="line-in-box">
              <div class="row mb-4 mt-2">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 sub-heading-1" >
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 click">
                  Clicked
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 clickc">
                  {{campaigns[i].opened}}
                </div>
              </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sub-heading-1 " >
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1  notdel">
                    Not_Delivered
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 notdelc">
                    {{campaigns[i].notDelivered}}
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3 sub-heading-1 break-word " >
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 del">
                    Delivered
                  </div>
                  
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 delc">
                    {{campaigns[i].delivered}}
                  </div>
                  </div>
                  
                </div>
              </div>
                <hr>
                
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                  <!-- <div class="row"> -->
                    <div (click)="routeView(this.campaigns[i].taskId)" class="col-lg-12 col-md-12 col-sm-12 col-xs-8 sub-heading-1 justify mt-3">
                    <p><span class="underline">View More</span></p>
                    <!-- </div> -->

                  </div>
                </div>

                <!--date of creation of campaign-->
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-8 sub-heading-1 justify mt-3">
                  <!-- <div class="row"> -->
                    <p><span style="font-size: 12px;color: #45198E; text-align: right;">{{campaigns[i].created_on}}</span></p>
                    <!-- </div> -->
                  </div>
              
            </div>
          </a>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 box" *ngIf="(i+1)<this.campaigns.length">
            <a class="tile">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading mt-3" >
                  {{campaigns[i+1].name}}
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading mt-1" >
                  {{campaigns[i+1].subject}}
                </div>
                <hr id="line-in-box">
                <div class="row mb-3 mt-2">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 sub-heading-1" >
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 click">
                        Clicked
                      </div>
                      
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 clickc">
                        {{campaigns[i+1].opened}}
                      </div>
                    </div>
                    </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sub-heading-1 " >
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1  notdel">
                      Not_Delivered
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 notdelc">
                      {{campaigns[i+1].notDelivered}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3 sub-heading-1 break-word " >
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 del">
                      Delivered
                    </div>
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 delc">
                      {{campaigns[i].delivered}}
                    </div>
                    </div>
                    
                  </div>
                </div>
                <hr>
                  <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                    <!-- <div class="row"> -->
                      <div (click)="routeView(this.campaigns[i+1].taskId)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 justify mt-3">
                      <p><span class="underline">View More</span></p>
                      <!-- </div> -->
                       
                    </div>
                  </div>

                  <!--date of creation of campaign-->
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-8 sub-heading-1 justify mt-3">
                  <!-- <div class="row"> -->
                    <p><span style="font-size: 12px;color: #45198E; text-align: right;">{{campaigns[i+1].created_on}}</span></p>
                    <!-- </div> -->
                  </div>
                
              </div>
            </a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 box" *ngIf="(i+2)<this.campaigns.length" >
              <a class="tile">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading mt-3" >
                    {{campaigns[i+2].name}}
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading mt-1" >
                    {{campaigns[i+2].subject}}
                  </div>
                  <hr id="line-in-box">
                  <div class="row mb-3 mt-2">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 sub-heading-1" >
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 click">
                          Clicked
                        </div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 clickc">
                          {{campaigns[i+2].opened}}
                        </div>
                      </div>
                      </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sub-heading-1 " >
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1  notdel">
                        Not_Delivered
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 notdelc">
                        {{campaigns[i+2].notDelivered}}
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3 sub-heading-1 break-word " >
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 del">
                        Delivered
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-2 delc">
                        {{campaigns[i+2].delivered}}
                      </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                
                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                      <!-- <div class="row"> -->
                        <div (click)="routeView(this.campaigns[i+2].taskId)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-heading-1 justify mt-3">
                        <p><span class="underline">View More</span></p>
                        <!-- </div> -->

                      </div>
                    </div>

                    <!--date of creation of campaign-->
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-8 sub-heading-1 justify mt-3" >
                    <!-- <div class="row"> -->
                    <p><span style="font-size: 12px;color: #45198E; text-align: right;" >{{campaigns[i+2].created_on}}</span></p>
                    <!-- </div> -->
                  </div>

                  <div class="bottom-ec"></div>
                </div>
              </a>
              </div>
</div>
  </div>
</div>


</div>
<!--end of archive logic-->
</div>
</div>
</div>
